MegaAdd some Pokemans<br><br>

<form class="MegaAdd" {{ action "oops" on="submit"}}>
	{{input class="poiskbox" type="text" size="64" value=addstuff.GAME}}
	<button type="submit">GoGoGo</button>
	<button {{action 'Reset'}}>Reset</button><br><br>
	{{textarea rows="30" cols="48" value=addstuff.STRING}}
</form>

<br>

{{#if addstuff.winrarP4}}
	Winrars! P4:<br>
	{{#each addstuff.RESULT as |game|}}
		{{game.GAME}} {{game.Mail}} {{game.П2}} {{game.П41}} {{game.П42}}<br>
	{{/each}}
{{/if}}


{{#if addstuff.winrarP3}}
	Winrars! P3:<br>
	{{#each addstuff.RESULT as |game|}}
		{{game.GAME}} {{game.Mail}} {{game.П2}} {{game.П3}}<br>
	{{/each}}
{{/if}}

<br>

MegaAdd List some Pokemans<br>

<button {{action 'P4Lista'}}>P4 lista:</button><br>

{{#if p4lista}}
	{{#each p4lista as |game|}}
		{{#each game.TROIKI as |troika index|}}
			{{#if troika.ACCOUNT}}
				{{#if (eq index 0)}}<br>{{game.gameNAME}}:<br>{{/if}}
				<br>{{troika.ACCOUNT}}<br>П2 - {{troika.P2}}<br>П4 - {{troika.P3}}<br>П4 - {{troika.P4}}<br>
			{{/if}}
		{{/each}}
	{{/each}}
{{/if}}
