<div class='shinbakaz'>

	<div class="sosia">
		<a title='Поделиться ВКонтакте' href='http://vk.com/share.php?url=https://union3.ru/MrBug/'><i class='fa fa-vk'></i></a>
		<a title='Facebook' href='http://www.facebook.com/share.php?u=https://union3.ru/MrBug/'><i class='fa fa-facebook-square'></i></a>
		<a title='Twitter' href='http://twitter.com/home?status=Организатор MrBug - Совместные покупки игр PS4 - https://union3.ru/MrBug/'><i class='fa fa-twitter-square'></i></a>
		<a title='Google Plus' href='https://plus.google.com/share?url=https://union3.ru/MrBug/'><i class='fa fa-google-plus-square'></i></a>
	</div>

	<hr>
	<h1 class="razdelhe">Совместная покупка игр для PS4 на четверых</h1>
	<hr>

	<table class='bagahe'>

		<tbody>

			<tr>
				<td>
					<span class="smaladndark">организатор</span>
					<div class="headin"><a href="/u/MrBug">MrBug</a></div>
				</td>
				<td colspan="2">
				<span class="smaladndark">кто владелец? я владелец! он владелец? узнай владельца!</span>
					<form {{ action "troikopoisk" on="submit"}}>
						{{input class="poiskbox" minlength="20" maxlength="40" type="text" placeholder="Логин аккаунта игры целиком...." value=troikopoisk2}}
						<button type="submit" class="poiskbutt"><i class="fa fa-search"></i></button>
					</form>
				</td>
			</tr>

			<tr>
				<td>
					<button class="headin{{if bagoPravila " bi4"}}" {{action 'bagoPravila'}}>Правила</button>
				</td>
				<td>
					<button class="headin{{if bagoGuidaz " bi4"}}" {{action 'bagoGuidaz'}}>Инструкции</button>
				</td>
				<td>
					<button class="headin{{if bagoPlati " bi4"}}" {{action 'bagoPlati'}}>Оплата</button>
				</td>
			</tr>
			{{#if bagoPravila}}
			<tr class="bagarulez">
				<td colspan="3">
					<div class="gege">
						<span>#1</span>Продал игру - сообщи организатору нового владельца<br><br>
						<span>#2</span>Купил игру - поменяй пароль, сообщи организатору новый пароль
					</div>
				</td>
			</tr>
			{{/if}}
			{{#if bagoGuidaz}}
			<tr class="bagarulez">
				<td colspan="3">
					<div class="bleft">
						<a href="/post/20">Инструкции П1</a><br><br>
						<a href="/post/21">Инструкции П2</a>
					</div>
					<div class="bright">
						<a href="/post/22">Инструкции П3</a><br><br>
						<a href="/post/1715">Инструкции П4</a>
					</div>
				</td>
			</tr>
			{{/if}}
			{{#if bagoPlati}}
			<tr class="bagarulez">
				<td colspan="3">
					<img src="https://i.imgur.com/StWpB6n.png" alt="QIWI">
					<img src="https://i.imgur.com/ye0B8ku.png" alt="Сбербанк">
					<img src="https://i.imgur.com/zvYje84.png" alt="Webmoney">
					<img src="https://i.imgur.com/FnWYUc9.png" alt="Yandex">
					<img src="https://i.imgur.com/vIDuCPV.png" alt="Paypal">
					<img src="https://i.imgur.com/uzOpHOw.png" alt="BTC">
					<img src="https://i.imgur.com/xQOxbGu.png" alt="ETH">
				</td>
			</tr>
			{{/if}}
			<tr class="Bagolet">
				<td>
					<a href="https://letyshops.com/soc/sh-1?r=107535">
						до 30% с каждой интернет-покупки
						<div class="headin2">LetyShop</div>
						Регистрируйся и получи Premium аккаунт в подарок!
					</a>
				</td>
				<td colspan="2">
					<div class="gege">
						<a href="https://letyshops.com/soc/sh-1?r=107535">
							CASHBACK2_2018 - все заказы кэшбэк +30%, до 15.03.18<br>
							CASHBACK2x1.5 - Aliexpress кэшбэк +50%, до 15.03.18<br>
							TOPCASHBACK-ALI5% - Aliexpress кэшбэк = 5%, до 25.02.18<br>
							CASHBACK2-ALI5% - Aliexpress кэшбэк = 5%, до 25.02.18<br>
							TOPCASHBACK_2018 - все заказы кэшбэк +30%, до 15.03.18<br>
							TOPCASHBACKx1.5 - Aliexpress кэшбэк +50%, до 15.03.18<br>
							ZOTOV_2018 - все заказы кэшбэк +30%, до 15.03.18
						</a>
					</div>
				</td>
			</tr>

			{{#if model.finalvar.qzstuff}}
			<tr class="Bagoqz">
				<td>
					<div class="headin">Быстрозапись</div>
				</td>
				<td colspan="2">
					<button {{action 'qzaips' 1}}>П1</button>
					<button {{action 'qzaips' 2}}>П2</button>
					<button {{action 'qzaips' 4}}>П4</button>

					<div>
						<select required {{action 'qzselect' on='change'}}>
							<option disabled selected style="display: none"> -- Выбрать Игру -- </option>
							{{#each model.finalvar.qzlist as |qzgame|}}
							<option value={{qzgame.[0]}}>{{qzgame.[1]}}</option>
							{{/each}} 
						</select>
					</div>
					{{qzselect}}
				</td>
			</tr>
			{{/if}}

		</tbody>
	</table>
	
	<hr>

	{{#if bagamdal}}
		<div class="etomudal">
			<button class="netmudal" {{action 'netmudal'}}></button>

			{{#if poiskmdal}}
				{{#if troikopoisk.poiskwin}}

					<div class="mudalcontent mudaladdon headin3">
						<span>{{troikopoisk.troikopoisk._id}}</span>
					<div class="bagariban">{{troikopoisk.troikopoisk.GAME}}</div>
					<table><tbody>
						<tr>
							<td>П2<br><a href="/u/{{troikopoisk.troikopoisk.P2}}">{{troikopoisk.troikopoisk.P2}}</a></td>
							{{#if troikopoisk.troikopoisk.P41}}
							<td>П4<br><a href="/u/{{troikopoisk.troikopoisk.P41}}">{{troikopoisk.troikopoisk.P41}}</a></td>
							<td>П4<br><a href="/u/{{troikopoisk.troikopoisk.P42}}">{{troikopoisk.troikopoisk.P42}}</a></td>
							{{else}}
							<td>П3<br><a href="/u/{{troikopoisk.troikopoisk.P3}}">{{troikopoisk.troikopoisk.P3}}</a></td>
							{{/if}}
						</tr>
					</tbody></table>
					</div>
				{{else}}
					<div class="mudalcontent mudaladdon headin3">
						<span>{{troikopoisk2}}</span>
						<div class="bagariban">Не найден</div>
					</div>
				{{/if}}
			{{/if}}

		</div>
	{{/if}}

	<h1>Hello World 3</h1>
	<h1 class="mitt_newpage">Welcome {{currentUser.username}}</h1>

	<h1>{{model.name}}</h1>

	<hr>

	<p>{{model.description}}</p>

	<p>1{{title}}1</p>

</div>
