<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class='shinbakaz'>

	<div class="sosia">
		<a title='Поделиться ВКонтакте' href='http://vk.com/share.php?url=https://union3.vg/MrBug/'><i class='fab fa-vk'></i></a>
		<a title='Facebook' href='http://www.facebook.com/share.php?u=https://union3.vg/MrBug/'><i class='fab fa-facebook-square'></i></a>
		<a title='Twitter' href='http://twitter.com/home?status=Организатор MrBug - Совместные покупки игр PS4 - https://union3.vg/MrBug/'><i class='fab fa-twitter-square'></i></a>
	</div>

	<hr>
	<h1 class="razdelhe">Совместная покупка игр для PS4 и PS5 на четверых</h1>
	<hr>

	<table class='bagahe'>

		<tbody>

			<tr>
				<td>
					<span class="smaladndark tablq">организатор</span>
					<div class="headin"><a href="/u/MrBug">MrBug</a></div>
				</td>
				<td>
				<span class="smaladndark tablq">кто владелец? я владелец! он владелец? узнай владельца!</span>
					<form {{ action "troikopoisk" on="submit"}}>
						{{input class="poiskbox" minlength="20" maxlength="40" type="text" placeholder="Логин аккаунта игры целиком...." value=troikopoisk2}}
						<button type="submit" class="poiskbutt"><i class="fas fa-search fa-spin"></i></button>
					</form>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<img src="https://i.imgur.com/StWpB6n.png" alt="QIWI">
					<img src="https://i.imgur.com/ye0B8ku.png" alt="Сбербанк">
					<img src="https://i.imgur.com/zvYje84.png" alt="Webmoney">
					<img src="https://i.imgur.com/FnWYUc9.png" alt="Yandex">
					<img src="https://i.imgur.com/vIDuCPV.png" alt="Paypal"><br>
					<span class="smaladndark">
						Реквизиты на оплату можно получить через <a href='/u/MrBug'>Личные Сообщения</a>
					</span>
				</td>
			</tr>

			{{#if model.qzstuff}}
			<tr class="Bagoqz">
				<td>
					<div class="headin">Быстрозапись</div>
				</td>
				<td>
					<button {{action 'qzaips' 1}}>П1</button>
					<button {{action 'qzaips' 2}}>П2</button>
					<button {{action 'qzaips' 4}}>П4</button>

					<div class="select">
						<select required onchange={{action "qzselect" value="target.value"}}>
							<option disabled selected style="display: none"> -- Выбрать Игру -- </option>
							{{#each model.qzlist as |qzgame|}}
							<option value={{qzgame._id}}>{{qzgame.gameNAME}}</option>
							{{/each}} 
						</select>
					</div>
				</td>
			</tr>
			{{/if}}

		</tbody>
	</table>

	<br>
	
	{{#if model.maigamez1}}
		<div class="ghead red"><h2>ЖДЕМ ОПЛАТУ</h2></div>
		<table class="atats kadu">
		<colgroup>
			<col width="70px" />
			<col width="30px" />
			<col width="100%" />
			<col width="0" />
			<col width="50px" />
		</colgroup>
			{{#each model.maigamez1 as |game|}}
				<tr>
					<td>
						<img src="{{game.gPIC}}" alt="{{game.gNAME}}">
					</td>

					<td>
						П{{game.POSITION}}
					</td>

					<td>
						<a>{{game.gNAME}}</a>
						{{#if game.TYPE2}}
							<br><span class="smaladndark">Акция до: {{game.DATE}}</span>
						{{/if}}
						{{#if game.TYPE3}}
							<br><span class="smaladndark">Дата выхода: {{game.DATE}}</span>
						{{/if}}
					</td>

					{{#if game.PRICE}}
						<td>
							{{game.PRICE}}р
							{{#if game.P1ADD}} + {{game.P1ADD}}р{{/if}}
						</td>
					{{else}}
						<td>
							Цена неизвестна
						</td>
					{{/if}}

					<td>
						{{#if game.P1ADD}}без П1{{/if}}
					</td>
				</tr>
			{{/each}}
		</table>
		<div style="text-align: center"><span class="kawaiNO">Сбер / QIWI +7 9169493363</span></div>
		<span class="smaladndark tablq">
			Реквизиты на оплату Webmoney, Яндекс, Paypal, BTC, ETH можно получить через <a href='/u/MrBug'>Личные Сообщения</a><br>
			В комментарии к платежу, по возможности, укажите ваш ник!<br>
			Составы с пометкой "без П1" оформляются на троих, стоимость свободной позиции П1 делится поровну между всеми участниками<br>
			Сообщите об оплате в соответсвующей личке "Тройка\Четверка собрана! Ждем оплату!"!<br>
			Если состав не собран и соотвествующей лички нету, сообщить об оплате можно мне через <a href='/u/MrBug'>Личное Сообщение</a><br>
			Выписаться из несобранного состава можно через неделю через <a href='/u/MrBug'>Личные Сообщения</a><br>
			В случае не оплаты собранного состава ваш профиль получает бан
		</span>

		<hr>

	{{/if}}

	<br>

	{{#if model.maigamez2}}
		<div class="ghead green"><h2>ОПЛАЧЕНО</h2></div>
		<table class="atats udak">
		<colgroup>
			<col width="70px" />
			<col width="30px" />
			<col width="100%" />
		</colgroup>
			{{#each model.maigamez2 as |game|}}
				<tr>
					<td>
						<img src="{{game.gPIC}}" alt="{{game.gNAME}}">
					</td>

					<td>
						П{{game.POSITION}}
					</td>

					<td>
						<a>{{game.gNAME}}</a>
					</td>
				</tr>
			{{/each}}
		</table>
		<span class="smaladndark tablq">
			Раздача осуществляется в порядке П1 -> П4 -> П2<br>
			Ход и статус раздачи отслеживайте по списку ниже :)
		</span>

		<hr>

	{{/if}}

	{{#if bagamdal}}
		<div class="etomudal">

			{{#if mdalready}}

				<button class="netmudal" {{action 'netmudal'}}></button>

				{{#if troikopoisk.poiskwin}}

					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">{{troikopoisk.GAME}}</div>
						<span>{{troikopoisk._id}}</span>
						<table class="vladista"><tbody>
							<tr>
								<td>П2<br><a href="/u/{{troikopoisk.P2}}">{{troikopoisk.P2}}</a></td>
								{{#if troikopoisk.P41}}
								<td>П4<br><a href="/u/{{troikopoisk.P41}}">{{troikopoisk.P41}}</a></td>
								<td>П4<br><a href="/u/{{troikopoisk.P42}}">{{troikopoisk.P42}}</a></td>
								{{else}}
								<td>П3<br><a href="/u/{{troikopoisk.P3}}">{{troikopoisk.P3}}</a></td>
								{{/if}}
							</tr>
						</tbody></table>
					</div>
				{{/if}}

				{{#if troikopoisk.poiskfail}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">НЕ НАЙДЕН</div>
						<span>{{troikopoisk2}}</span>
					</div>
				{{/if}}

				{{#if prezaips.guest}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">ВНИМАНИЕ</div>
						<span>Для участия в совместной покупке игр требуется <a href='/signup'>Регистрация</a></span>
					</div>
				{{/if}}

				{{#if prezaips.piadin}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">ВНИМАНИЕ</div>
						<span>Запись возможна только через личное сообщение <a href='/u/MrBug'>Организатору</a><br>
						Для записи на позицию П1 требуется залог<br>
						Автоматическая запись на позицию П1 будет доступна<br>
						При наличие 5ти положительных отзывов от <a href='/u/MrBug'>Организатора</a><br>
						За последние 12 месяцев<br>
						Текущий прогресс: {{prezaips.fbcount}}\5</span>
					</div>
				{{/if}}

				{{#if prezaips.banned}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">ВНИМАНИЕ</div>
						<span>Запись возможна только через личное сообщение <a href='/u/MrBug'>Организатору</a></span>
					</div>
				{{/if}}

				{{#if prezaips.winrars}}
					<div class="mudalcontent headin3 prezaips">
						<div class="bagato">
							<div class="bagapi" style="background-image:url('{{prezaips.imgLINK}}')"></div>
							<h1><a>{{prezaips.gameNAME}}</a> Запись</h1>
						</div>
						<button {{action 'imgoingin'}}>Записаться на П{{prezaips.position}}</button><button {{action 'netmudal'}}>Закрыть</button>
					</div>
				{{/if}}

				{{#if zaips.winrars}}
					<div class="mudalcontent mudaladdon headin3">
						<span>Запись</span>
						<span>на позицию П{{zaips.position}}</span>
						<div class="bagariban">{{zaips.gameNAME}}</div>
						<span>Успешно произведена!</span>
					</div>
				{{/if}}

				{{#if zaips.zaipsfail}}
					<div class="mudalcontent headin3 prezaips">
						<div class="bagato">
							<div class="bagapi" style="background-image:url('https://i.imgur.com/33FJekg.png')">Epic Fail Is Epic</div>
						</div>
					</div>
				{{/if}}

			{{else}}

				<div class="bagaspin"></div>

			{{/if}}

		</div>
	{{/if}}

	{{#if model.gamedb1}}
		<div class='ghed {{unless showhideo.[0] "slut"}}' {{action 'showhideo' 0}}><i class='fas fa-users'></i> Просто Игры <span class='smaladndark'>Ждём ещё желающих</span></div>
		<div class='MrBug'>

		{{#if showhideo.[0]}}
		{{#each model.gamedb1 as |game index|}}
			<table class='ggg {{if game.MODE1 'bgred2'}}{{if game.MODE2 'bggr3'}}' {{action 'showhideo1' index}}>
				<tr>
					<td class='flagco'>{{#if game.MODE1}}<div><i class='fas fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
					<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
					<td class='mainco'>
						<a>{{game.gameNAME}}</a><br>
						<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
						{{#if game.CONSOLE2}}
							<span class='baga baga-{{game.CONSOLE2}}'>{{game.CONSOLE2}}</span>
						{{/if}}
						<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
					</td>
					<td>
						<button {{action 'zaips' 1 game._id bubbles=false}} class='BagButon'>П1<br>
							{{#if game.P4PRICE1}}
								<h3>{{game.P4PRICE1}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P1NO}}<div class='statustr status-1'>{{game.P1NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 2 game._id bubbles=false}} class='BagButon'>П2<br>
							{{#if game.P4PRICE2}}
								<h3>{{game.P4PRICE2}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P2NO}}<div class='statustr status-1'>{{game.P2NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 4 game._id bubbles=false}} class='BagButon'>П4<br>
							{{#if game.P4PRICE3}}
								<h3>{{game.P4PRICE3}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P3NO}}<div class='statustr status-1'>{{game.P3NO}}</div>{{/if}}
						</button>
					</td>
				</tr>
			</table>

			{{#if game.SHOWHIDEO}}
			<table class="djuke">
				{{#each game.TROIKI as |users|}}
					{{#if users.ACCOUNT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.ACCOUNT}}</td></tr>{{/if}}
					{{#if users.COMMENT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.COMMENT}}</td></tr>{{/if}}
					<tr class='{{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'>
						<td>
							П1<span> - </span>
							{{#if users.P1}}
								<a title='{{if game.P4PRICE1 (concat game.P4PRICE1 "р")}}' href='/u/{{users.P1}}'>{{users.P1}}</a>
								<a class='repala {{if users.P1FBred "bgred" "bggr2"}}' href='/u/{{users.P1}}/kek'>
									{{users.P1FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P1FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P1FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P1FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P1TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE1 (concat game.P4PRICE1 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P1}}
								{{#if users.P1STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P1STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P1STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P1STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П2<span> - </span>
							{{#if users.P2}}
								<a title='{{if game.P4PRICE2 (concat game.P4PRICE2 "р")}}' href='/u/{{users.P2}}'>{{users.P2}}</a>
								<a class='repala {{if users.P2FBred "bgred" "bggr2"}}' href='/u/{{users.P2}}/kek'>
									{{users.P2FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P2FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P2FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P2FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P2TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE2 (concat game.P4PRICE2 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P2}}
								{{#if users.P2STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P2STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P2STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P2STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П4<span> - </span>
							{{#if users.P3}}
								<a title='{{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}' href='/u/{{users.P3}}'>{{users.P3}}</a>
								<a class='repala {{if users.P3FBred "bgred" "bggr2"}}' href='/u/{{users.P3}}/kek'>
									{{users.P3FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P3FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P3FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P3FEEDBACK.BAD}}
									</span></a>
							{{else}}
								{{#if users.P3TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}
								{{/if}}
							{{/if}}
							<br>
							П4<span> - </span>
							{{#if users.P4}}
								<a title='{{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}' href='/u/{{users.P4}}'>{{users.P4}}</a>
								<a class='repala {{if users.P4FBred "bgred" "bggr2"}}' href='/u/{{users.P4}}/kek'>
									{{users.P4FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P4FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P4FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P4FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P4TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P3}}
								{{#if users.P3STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P3STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P3STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P3STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
							{{#if users.P4}}
								{{#if users.P4STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P4STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P4STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P4STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
					</tr>
				{{else}}
					<tr class='uddah'><td>Пусто</td></tr>
				{{/each}}
			</table>
			{{/if}}

		{{/each}}
		{{/if}}

		</div>
	{{/if}}

	{{#if model.gamedb2}}
		<div class='ghed {{unless showhideo.[1] "slut"}}' {{action 'showhideo' 1}}><i class='fas fa-tags'></i> Распродажи <span class='smaladndark'>Самые #$@&%*! скидки в PSN</span></div>
		<div class='MrBug'>

		{{#if showhideo.[1]}}
		{{#each model.gamedb2 as |game index|}}

			<table class='ggg {{if game.MODE1 'bgred2'}}{{if game.MODE2 'bggr3'}}' {{action 'showhideo2' index}}>
				<tr>
					<td class='flagco'>{{#if game.MODE1}}<div><i class='fas fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
					<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
					<td class='mainco'>
						<a>{{game.gameNAME}}</a><br>
						<span class='text'>Акция до {{game.DATE}}</span> 
						<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
						{{#if game.CONSOLE2}}
							<span class='baga baga-{{game.CONSOLE2}}'>{{game.CONSOLE2}}</span>
						{{/if}}
						<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
					</td>
					<td>
						<button {{action 'zaips' 1 game._id bubbles=false}} class='BagButon'>П1<br>
							{{#if game.P4PRICE1}}
								<h3>{{game.P4PRICE1}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P1NO}}<div class='statustr status-2'>{{game.P1NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 2 game._id bubbles=false}} class='BagButon'>П2<br>
							{{#if game.P4PRICE2}}
								<h3>{{game.P4PRICE2}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P2NO}}<div class='statustr status-2'>{{game.P2NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 4 game._id bubbles=false}} class='BagButon'>П4<br>
							{{#if game.P4PRICE3}}
								<h3>{{game.P4PRICE3}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P3NO}}<div class='statustr status-2'>{{game.P3NO}}</div>{{/if}}
						</button>
					</td>
				</tr>
			</table>

			{{#if game.SHOWHIDEO}}
			<table class="djuke">
				{{#each game.TROIKI as |users|}}
					{{#if users.ACCOUNT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.ACCOUNT}}</td></tr>{{/if}}
					{{#if users.COMMENT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.COMMENT}}</td></tr>{{/if}}
					<tr class='{{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'>
						<td>
							П1<span> - </span>
							{{#if users.P1}}
								<a title='{{if game.P4PRICE1 (concat game.P4PRICE1 "р")}}' href='/u/{{users.P1}}'>{{users.P1}}</a>
								<a class='repala {{if users.P1FBred "bgred" "bggr2"}}' href='/u/{{users.P1}}/kek'>
									{{users.P1FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P1FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P1FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P1FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P1TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE1 (concat game.P4PRICE1 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P1}}
								{{#if users.P1STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P1STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P1STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P1STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П2<span> - </span>
							{{#if users.P2}}
								<a title='{{if game.P4PRICE2 (concat game.P4PRICE2 "р")}}' href='/u/{{users.P2}}'>{{users.P2}}</a>
								<a class='repala {{if users.P2FBred "bgred" "bggr2"}}' href='/u/{{users.P2}}/kek'>
									{{users.P2FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P2FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P2FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P2FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P2TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE2 (concat game.P4PRICE2 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P2}}
								{{#if users.P2STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P2STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P2STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P2STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П4<span> - </span>
							{{#if users.P3}}
								<a title='{{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}' href='/u/{{users.P3}}'>{{users.P3}}</a>
								<a class='repala {{if users.P3FBred "bgred" "bggr2"}}' href='/u/{{users.P3}}/kek'>
									{{users.P3FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P3FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P3FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P3FEEDBACK.BAD}}
									</span></a>
							{{else}}
								{{#if users.P3TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}
								{{/if}}
							{{/if}}
							<br>
							П4<span> - </span>
							{{#if users.P4}}
								<a title='{{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}' href='/u/{{users.P4}}'>{{users.P4}}</a>
								<a class='repala {{if users.P4FBred "bgred" "bggr2"}}' href='/u/{{users.P4}}/kek'>
									{{users.P4FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P4FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P4FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P4FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P4TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P3}}
								{{#if users.P3STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P3STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P3STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P3STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
							{{#if users.P4}}
								{{#if users.P4STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P4STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P4STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P4STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
					</tr>
				{{else}}
					<tr class='uddah'><td>Пусто</td></tr>
				{{/each}}
			</table>
			{{/if}}
			
		{{/each}}
		{{/if}}

		</div>
	{{/if}}

	{{#if model.gamedb3}}
		<div class='ghed {{unless showhideo.[2] "slut"}}' {{action 'showhideo' 2}}><i class='fas fa-history'></i> Предзаказы <span class='smaladndark'>Хотел купить, теперь не уверен</span></div>
		<div class='MrBug'>

		{{#if showhideo.[2]}}
		{{#each model.gamedb3 as |game index|}}

			<table class='ggg {{if game.MODE1 'bgred2'}}{{if game.MODE2 'bggr3'}}' {{action 'showhideo3' index}}>
				<tr>
					<td class='flagco'>{{#if game.MODE1}}<div><i class='fas fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
					<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
					<td class='mainco'>
						<a>{{game.gameNAME}}</a><br>
						<span class='text'>Дата выхода {{game.DATE}}</span> 
						<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
						{{#if game.CONSOLE2}}
							<span class='baga baga-{{game.CONSOLE2}}'>{{game.CONSOLE2}}</span>
						{{/if}}
						<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
					</td>
					<td>
						<button {{action 'zaips' 1 game._id bubbles=false}} class='BagButon'>П1<br>
							{{#if game.P4PRICE1}}
								<h3>{{game.P4PRICE1}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P1NO}}<div class='statustr status-3'>{{game.P1NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 2 game._id bubbles=false}} class='BagButon'>П2<br>
							{{#if game.P4PRICE2}}
								<h3>{{game.P4PRICE2}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P2NO}}<div class='statustr status-3'>{{game.P2NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 4 game._id bubbles=false}} class='BagButon'>П4<br>
							{{#if game.P4PRICE3}}
								<h3>{{game.P4PRICE3}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P3NO}}<div class='statustr status-3'>{{game.P3NO}}</div>{{/if}}
						</button>
					</td>
				</tr>
			</table>

			{{#if game.SHOWHIDEO}}
			<table class="djuke">
				{{#each game.TROIKI as |users|}}
					{{#if users.ACCOUNT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.ACCOUNT}}</td></tr>{{/if}}
					{{#if users.COMMENT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.COMMENT}}</td></tr>{{/if}}
					<tr class='{{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'>
						<td>
							П1<span> - </span>
							{{#if users.P1}}
								<a title='{{if game.P4PRICE1 (concat game.P4PRICE1 "р")}}' href='/u/{{users.P1}}'>{{users.P1}}</a>
								<a class='repala {{if users.P1FBred "bgred" "bggr2"}}' href='/u/{{users.P1}}/kek'>
									{{users.P1FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P1FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P1FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P1FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P1TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE1 (concat game.P4PRICE1 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P1}}
								{{#if users.P1STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P1STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P1STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P1STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П2<span> - </span>
							{{#if users.P2}}
								<a title='{{if game.P4PRICE2 (concat game.P4PRICE2 "р")}}' href='/u/{{users.P2}}'>{{users.P2}}</a>
								<a class='repala {{if users.P2FBred "bgred" "bggr2"}}' href='/u/{{users.P2}}/kek'>
									{{users.P2FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P2FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P2FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P2FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P2TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE2 (concat game.P4PRICE2 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P2}}
								{{#if users.P2STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P2STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P2STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P2STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П4<span> - </span>
							{{#if users.P3}}
								<a title='{{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}' href='/u/{{users.P3}}'>{{users.P3}}</a>
								<a class='repala {{if users.P3FBred "bgred" "bggr2"}}' href='/u/{{users.P3}}/kek'>
									{{users.P3FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P3FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P3FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P3FEEDBACK.BAD}}
									</span></a>
							{{else}}
								{{#if users.P3TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}
								{{/if}}
							{{/if}}
							<br>
							П4<span> - </span>
							{{#if users.P4}}
								<a title='{{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}' href='/u/{{users.P4}}'>{{users.P4}}</a>
								<a class='repala {{if users.P4FBred "bgred" "bggr2"}}' href='/u/{{users.P4}}/kek'>
									{{users.P4FEEDBACK.PERCENT}}%
									<span>
										<i class='far fa-smile'></i> {{users.P4FEEDBACK.GOOD}} 
										<i class='far fa-meh'></i> {{users.P4FEEDBACK.NEUTRAL}} 
										<i class='far fa-frown'></i> {{users.P4FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P4TAKEN}}
									Нету
								{{else}}
									Cвободно {{if game.P4PRICE3 (concat game.P4PRICE3 "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P3}}
								{{#if users.P3STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P3STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P3STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P3STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
							{{#if users.P4}}
								{{#if users.P4STATUS.[0]}}<div class='malabela bgred3'><i class='fas fa-dollar-sign fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P4STATUS.[1]}}<div class='malabela bggr'><i class='fas fa-piggy-bank'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P4STATUS.[2]}}<div class='malabela bgred'><i class='fas fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P4STATUS.[3]}}<div class='malabela bggr'><i class='fas fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
					</tr>
				{{else}}
					<tr class='uddah'><td>Пусто</td></tr>
				{{/each}}
			</table>
			{{/if}}

		{{/each}}
		{{/if}}

		</div>
	{{/if}}
	
	<br>
	<div class='smaladndark tablq'>
		Пролистали до конца и не нашли нужной Вам игры?<br>
		Отправьте нам ее название в <a href='/u/MrBug'>Личном Сообщении</a> и мы постараемся добавить ее для Вас<br>
		Да и просто пишите игры, которые бы хотели видеть в совместной покупке :)
	</div>

</div>
