<div class='shinbakaz'>

	<div class="sosia">
		<a title='Поделиться ВКонтакте' href='http://vk.com/share.php?url=https://union3.ru/MrBug/'><i class='fa fa-vk'></i></a>
		<a title='Facebook' href='http://www.facebook.com/share.php?u=https://union3.ru/MrBug/'><i class='fa fa-facebook-square'></i></a>
		<a title='Twitter' href='http://twitter.com/home?status=Организатор MrBug - Совместные покупки игр PS4 - https://union3.ru/MrBug/'><i class='fa fa-twitter-square'></i></a>
		<a title='Google Plus' href='https://plus.google.com/share?url=https://union3.ru/MrBug/'><i class='fa fa-google-plus-square'></i></a>
	</div>

	<hr>
	<h1 class="razdelhe">Совместная покупка игр для PS4 на четверых</h1>
	<hr>

	<table class='bagahe'>

		<tbody>

			<tr>
				<td>
					<span class="smaladndark tablq">организатор</span>
					<div class="headin"><a href="/u/MrBug">MrBug</a></div>
				</td>
				<td colspan="2">
				<span class="smaladndark tablq">кто владелец? я владелец! он владелец? узнай владельца!</span>
					<form {{ action "troikopoisk" on="submit"}}>
						{{input class="poiskbox" minlength="20" maxlength="40" type="text" placeholder="Логин аккаунта игры целиком...." value=troikopoisk2}}
						<button type="submit" class="poiskbutt"><i class="fa fa-search"></i></button>
					</form>
				</td>
			</tr>

			<tr>
				<td>
					<button class="headin{{if bagoPravila " bi4"}}" {{action 'bagoPravila'}}>Правила</button>
				</td>
				<td>
					<button class="headin{{if bagoGuidaz " bi4"}}" {{action 'bagoGuidaz'}}>Инструкции</button>
				</td>
				<td>
					<button class="headin{{if bagoPlati " bi4"}}" {{action 'bagoPlati'}}>Оплата</button>
				</td>
			</tr>
			{{#if bagoPravila}}
			<tr class="bagarulez">
				<td colspan="3">
					<div class="gege">
						<span>#1</span>После подажи аккаунта на барахолке - сообщи организатору нового владельца<br><br>
						<span>#2</span>После покупки аккаунта на барахолке - поменяй пароль, сообщи организатору новый пароль<br><br>
						<span>#3</span>Не обновляй аккаунт до основного, нажимай только "позже" - покараем моментально, будет больно, абещаием!
					</div>
				</td>
			</tr>
			{{/if}}
			{{#if bagoGuidaz}}
			<tr class="bagarulez">
				<td colspan="3">
					<a style="float: left; margin-left: 5%" href="/t/topic/1228">Инструкции П1</a>
					<a href="/t/topic/1229">Инструкции П2</a>
					<a style="float: right; margin-left: 5%" href="/t/topic/1230">Инструкции П3</a>
				</td>
			</tr>
			{{/if}}
			{{#if bagoPlati}}
			<tr class="bagarulez">
				<td colspan="3">
					<img src="https://i.imgur.com/StWpB6n.png" alt="QIWI">
					<img src="https://i.imgur.com/ye0B8ku.png" alt="Сбербанк">
					<img src="https://i.imgur.com/zvYje84.png" alt="Webmoney">
					<img src="https://i.imgur.com/FnWYUc9.png" alt="Yandex">
					<img src="https://i.imgur.com/vIDuCPV.png" alt="Paypal">
					<img src="https://i.imgur.com/uzOpHOw.png" alt="BTC">
					<img src="https://i.imgur.com/xQOxbGu.png" alt="ETH"><br><br>
					<span class="smaladndark">
						Реквизиты на оплату можно получить через <a href='/u/MrBug'>Личные Сообщения</a>
					</span>
				</td>
			</tr>
			{{/if}}
			<tr class="Bagolet">
				<td>
					<a href="https://letyshops.com/soc/sh-1?r=107535">
						до 30% с каждой интернет-покупки
						<div class="headin2">LetyShop</div>
						Регистрируйся и получи Premium аккаунт в подарок!
					</a>
				</td>
				<td colspan="2">
					<div class="gege">
						<a href="https://letyshops.com/soc/sh-1?r=107535">
							ALIPROFI_LETY - Aliexpress кэшбэк +50%, до 30.09<br>
							CASHBACK2x1.5 - Aliexpress кэшбэк +50%, до 30.09<br>
							TOPCASHBACK_2018 - все заказы кэшбэк +30%, до 30.09<br>
							CASHBACK2_2018 - все заказы кэшбэк +30%, до 30.09<br>
							ZOTOV_2018 - все заказы кэшбэк +30%, до 30.09
						</a>
					</div>
				</td>
			</tr>

			{{#if model.qzstuff}}
			<tr class="Bagoqz">
				<td>
					<div class="headin">Быстрозапись</div>
				</td>
				<td colspan="2">
					<button {{action 'qzaips' 1}}>П1</button>
					<button {{action 'qzaips' 2}}>П2</button>
					<button {{action 'qzaips' 3}}>П3</button>

					<div class="select">
						<select required onchange={{action "qzselect" value="target.value"}}>
							<option disabled selected style="display: none"> -- Выбрать Игру -- </option>
							{{#each model.qzlist as |qzgame|}}
							<option value={{qzgame.[0]}}>{{qzgame.[1]}}</option>
							{{/each}} 
						</select>
					</div>
				</td>
			</tr>
			{{/if}}

		</tbody>
	</table>

	<hr>

	{{#if model.maigamez1}}
		<table class="atats kadu">
			{{#each model.maigamez1 as |game|}}
				<tr>
					<td><div class='malabela2 bgred3'><span class="hideoS">ждем оплату</span><span class="hideoB">$</span></div></td>
					<td><a>{{game.gNAME}}</a></td>

					{{#if game.PRICE}}
						<td>
							<span class="blakarand">П{{game.POSITION}}</span> 
							<span class="blakarand hideoS">Сбер / QIWI +7 9169493363</span> 
							<span class="blakarand">{{game.PRICE}}р</span>
						{{#if game.P1ADD}}<span class="smaladndark">+{{game.P1ADD}}р без П1</span>{{/if}}
						</td>
					{{else}}
						<td>
							<span class="blakarand">П{{game.POSITION}}</span> 
							<span class="smaladndark">Цена <span class="hideoS">позиции ещё </span>неизвестна</span>
						</td>
					{{/if}}
				</tr>
			{{/each}}
		</table>
		<span class="hideoB blakarand big">Сбер / QIWI +7 9169493363</span>
		<span class="smaladndark tablq">В комментарии к платежу обязательно укажите ваш ник и игру! Напишите мне <a href='/u/MrBug'>Личное Сообщение</a> как оплатите!<br>
		Реквизиты на оплату Webmoney, Яндекс, Paypal, BTC, ETH спросите у меня через <a href='/u/MrBug'>Личные Сообщения</a><br>
		Выписаться из состава можно только через <a href='/u/MrBug'>Личные Сообщения</a>, за злоупотребление возможны последствия :)</span>

		<hr>

	{{/if}}

	<br>

	{{#if model.maigamez2}}
		<table class="atats udak">
			{{#each model.maigamez2 as |game|}}
				<tr>
					<td><div class='malabela2 bggr'><span class="hideoS">оплачено</span><span class="hideoB">i</span></div></td>
					<td><a>{{game.gNAME}}</a></td>
					<td><span class="blakarand">П{{game.POSITION}}</span></td>
				</tr>
			{{/each}}
		</table>
		<span class="smaladndark tablq">Раздача осуществляется в порядке П1 -> П3 -> П2<br>Ход и статус раздачи отслеживайте по списку ниже :)</span>

		<hr>

	{{/if}}

	{{#if bagamdal}}
		<div class="etomudal">

			{{#if mdalready}}

				<button class="netmudal" {{action 'netmudal'}}></button>

				{{#if troikopoisk.poiskwin}}

					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">{{troikopoisk.GAME}}</div>
						<span>{{troikopoisk._id}}</span>
						<table class="vladista"><tbody>
							<tr>
								<td>П2<br><a href="/u/{{troikopoisk.P2}}">{{troikopoisk.P2}}</a></td>
								{{#if troikopoisk.P41}}
								<td>П4<br><a href="/u/{{troikopoisk.P41}}">{{troikopoisk.P41}}</a></td>
								<td>П4<br><a href="/u/{{troikopoisk.P42}}">{{troikopoisk.P42}}</a></td>
								{{else}}
								<td>П3<br><a href="/u/{{troikopoisk.P3}}">{{troikopoisk.P3}}</a></td>
								{{/if}}
							</tr>
						</tbody></table>
					</div>
				{{/if}}

				{{#if troikopoisk.poiskfail}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">Не найден</div>
						<span>{{troikopoisk2}}</span>
					</div>
				{{/if}}

				{{#if prezaips.guest}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">Внимание</div>
						<span>Для участия в совместной покупке игр требуется <a href='/signup'>Регистрация</a></span>
					</div>
				{{/if}}

				{{#if prezaips.piadin}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">Внимание</div>
						<span>Для записи на позицию П1 требуется залог<br>
						Запись без залога доступна только для опытных участников<br>
						Запись возможна только через личное сообщение <a href='/u/MrBug'>Организатору</a></span>
					</div>
				{{/if}}

				{{#if prezaips.banned}}
					<div class="mudalcontent mudaladdon headin3">
						<div class="bagariban">Внимание</div>
						<span>Запись возможна только через личное сообщение <a href='/u/MrBug'>Организатору</a></span>
					</div>
				{{/if}}

				{{#if prezaips.winrars}}
					<div class="mudalcontent headin3 prezaips">
						<div class="bagato">
							<div class="bagapi" style="background-image:url('{{prezaips.imgLINK}}')"></div>
							<h1><a>{{prezaips.gameNAME}}</a> Запись</h1>
						</div>
						<button {{action 'imgoingin'}}>Записаться на П{{prezaips.position}}</button><button {{action 'netmudal'}}>Закрыть</button>
					</div>
				{{/if}}

				{{#if zaips.winrars}}
					<div class="mudalcontent mudaladdon headin3">
						<span>Запись</span>
						<span>на позицию П{{zaips.position}}</span>
						<div class="bagariban">{{zaips.gameNAME}}</div>
						<span>Успешно произведена!</span>
					</div>
				{{/if}}

				{{#if zaips.zaipsfail}}
					<div class="mudalcontent headin3 prezaips">
						<div class="bagato">
							<div class="bagapi" style="background-image:url('https://i.imgur.com/33FJekg.png')">Epic Fail Is Epic</div>
						</div>
					</div>
				{{/if}}

			{{else}}

				<div class="bagaspin"></div>

			{{/if}}

		</div>
	{{/if}}

	{{#if model.gamedb1}}
		<div class='ghed' {{action 'showhideo' 0}}><i class='fa fa-users'></i> Просто Игры <small class='smaladndark'>Ждём ещё желающих</small></div>
		<div class='MrBug'>

		{{#if showhideo.[0]}}
		{{#each model.gamedb1 as |game index|}}
			<table class='ggg {{if game.MODE1 'bgred2'}}{{if game.MODE2 'bggr3'}}' {{action 'showhideo1' index}}>
				<tr>
					<td class='flagco'>{{#if game.MODE1}}<div><i class='fa fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
					<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
					<td class='mainco'>
						<a>{{game.gameNAME}}</a><br>
						<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
						<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
					</td>
					<td>
						<button {{action 'zaips' 1 game._id bubbles=false}} class='BagButon'>П1<br>
							{{#if game.P3PRICE1}}
								<h3>{{game.P3PRICE1}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P1NO}}<div class='statustr status-1'>{{game.P1NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 2 game._id bubbles=false}} class='BagButon'>П2<br>
							{{#if game.P3PRICE2}}
								<h3>{{game.P3PRICE2}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P2NO}}<div class='statustr status-1'>{{game.P2NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 3 game._id bubbles=false}} class='BagButon'>П3<br>
							{{#if game.P3PRICE3}}
								<h3>{{game.P3PRICE3}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P3NO}}<div class='statustr status-1'>{{game.P3NO}}</div>{{/if}}
						</button>
					</td>
				</tr>
			</table>

			{{#if game.SHOWHIDEO}}
			<table class="djuke">
				{{#each game.TROIKI as |users|}}
					{{#if users.ACCOUNT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.ACCOUNT}}</td></tr>{{/if}}
					{{#if users.COMMENT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.COMMENT}}</td></tr>{{/if}}
					<tr class='{{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'>
						<td>
							П1<span> - </span>
							{{#if users.P1}}
								<a title='{{if users.P1PRICE (concat users.P1PRICE "р")}}' href='/u/{{users.P1}}'>{{users.P1}}</a>
								<a class='repala {{if users.P1FBred "bgred" "bggr2"}}' href='/u/{{users.P1}}/kek'>
									{{users.P1FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P1FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P1FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P1FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P1TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P1PRICE (concat users.P1PRICE "р")}}
								{{/if}}
							{{/if}}
							<br>
							П1<span> - </span>
							{{#if users.P2}}
								<a title='{{if users.P2PRICE (concat users.P2PRICE "р")}}' href='/u/{{users.P2}}'>{{users.P2}}</a>
								<a class='repala {{if users.P2FBred "bgred" "bggr2"}}' href='/u/{{users.P2}}/kek'>
									{{users.P2FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P2FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P2FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P2FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P2TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P2PRICE (concat users.P2PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P1}}
								{{#if users.P1STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P1STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P1STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P1STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
							{{#if users.P2}}
								{{#if users.P2STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P2STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P2STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P2STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П2<span> - </span>
							{{#if users.P3}}
								<a title='{{if users.P3PRICE (concat users.P3PRICE "р")}}' href='/u/{{users.P3}}'>{{users.P3}}</a>
								<a class='repala {{if users.P3FBred "bgred" "bggr2"}}' href='/u/{{users.P3}}/kek'>
									{{users.P3FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P3FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P3FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P3FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P3TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P3PRICE (concat users.P3PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P3}}
								{{#if users.P3STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P3STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P3STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P3STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П3<span> - </span>
							{{#if users.P4}}
								<a title='{{if users.P4PRICE (concat users.P4PRICE "р")}}' href='/u/{{users.P4}}'>{{users.P4}}</a>
								<a class='repala {{if users.P4FBred "bgred" "bggr2"}}' href='/u/{{users.P4}}/kek'>
									{{users.P4FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P4FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P4FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P4FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P4TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P4PRICE (concat users.P4PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P4}}
								{{#if users.P4STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P4STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P4STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P4STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
					</tr>
				{{else}}
					<tr class='uddah'><td>Пусто</td></tr>
				{{/each}}
			</table>
			{{/if}}

		{{/each}}
		{{/if}}

		</div>
	{{/if}}

	{{#if model.gamedb2}}
		<div class='ghed' {{action 'showhideo' 1}}><i class='fa fa-tags'></i> Распродажи <small class='smaladndark'>Самые #$@&%*! скидки в PSN</small></div>
		<div class='MrBug'>

		{{#if showhideo.[1]}}
		{{#each model.gamedb2 as |game index|}}

			<table class='ggg {{if game.MODE1 'bgred2'}}{{if game.MODE2 'bggr3'}}' {{action 'showhideo2' index}}>
				<tr>
					<td class='flagco'>{{#if game.MODE1}}<div><i class='fa fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
					<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
					<td class='mainco'>
						<a>{{game.gameNAME}}</a><br>
						<span>Акция до {{game.DATE}}</span> 
						<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
						<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
					</td>
					<td>
						<button {{action 'zaips' 1 game._id bubbles=false}} class='BagButon'>П1<br>
							{{#if game.P3PRICE1}}
								<h3>{{game.P3PRICE1}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P1NO}}<div class='statustr status-2'>{{game.P1NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 2 game._id bubbles=false}} class='BagButon'>П2<br>
							{{#if game.P3PRICE2}}
								<h3>{{game.P3PRICE2}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P2NO}}<div class='statustr status-2'>{{game.P2NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 3 game._id bubbles=false}} class='BagButon'>П3<br>
							{{#if game.P3PRICE3}}
								<h3>{{game.P3PRICE3}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P3NO}}<div class='statustr status-2'>{{game.P3NO}}</div>{{/if}}
						</button>
					</td>
				</tr>
			</table>

			{{#if game.SHOWHIDEO}}
			<table class="djuke">
				{{#each game.TROIKI as |users|}}
					{{#if users.ACCOUNT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.ACCOUNT}}</td></tr>{{/if}}
					{{#if users.COMMENT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.COMMENT}}</td></tr>{{/if}}
					<tr class='{{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'>
						<td>
							П1<span> - </span>
							{{#if users.P1}}
								<a title='{{if users.P1PRICE (concat users.P1PRICE "р")}}' href='/u/{{users.P1}}'>{{users.P1}}</a>
								<a class='repala {{if users.P1FBred "bgred" "bggr2"}}' href='/u/{{users.P1}}/kek'>
									{{users.P1FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P1FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P1FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P1FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P1TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P1PRICE (concat users.P1PRICE "р")}}
								{{/if}}
							{{/if}}
							<br>
							П1<span> - </span>
							{{#if users.P2}}
								<a title='{{if users.P2PRICE (concat users.P2PRICE "р")}}' href='/u/{{users.P2}}'>{{users.P2}}</a>
								<a class='repala {{if users.P2FBred "bgred" "bggr2"}}' href='/u/{{users.P2}}/kek'>
									{{users.P2FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P2FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P2FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P2FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P2TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P2PRICE (concat users.P2PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P1}}
								{{#if users.P1STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P1STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P1STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P1STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
							{{#if users.P2}}
								{{#if users.P2STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P2STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P2STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P2STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П2<span> - </span>
							{{#if users.P3}}
								<a title='{{if users.P3PRICE (concat users.P3PRICE "р")}}' href='/u/{{users.P3}}'>{{users.P3}}</a>
								<a class='repala {{if users.P3FBred "bgred" "bggr2"}}' href='/u/{{users.P3}}/kek'>
									{{users.P3FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P3FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P3FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P3FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P3TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P3PRICE (concat users.P3PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P3}}
								{{#if users.P3STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P3STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P3STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P3STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П3<span> - </span>
							{{#if users.P4}}
								<a title='{{if users.P4PRICE (concat users.P4PRICE "р")}}' href='/u/{{users.P4}}'>{{users.P4}}</a>
								<a class='repala {{if users.P4FBred "bgred" "bggr2"}}' href='/u/{{users.P4}}/kek'>
									{{users.P4FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P4FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P4FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P4FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P4TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P4PRICE (concat users.P4PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P4}}
								{{#if users.P4STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P4STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P4STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P4STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
					</tr>
				{{else}}
					<tr class='uddah'><td>Пусто</td></tr>
				{{/each}}
			</table>
			{{/if}}
			
		{{/each}}
		{{/if}}

		</div>
	{{/if}}

	{{#if model.gamedb3}}
		<div class='ghed' {{action 'showhideo' 2}}><i class='fa fa-history'></i> Предзаказы <small class='smaladndark'>Хотел купить, теперь не уверен</small></div>
		<div class='MrBug'>

		{{#if showhideo.[2]}}
		{{#each model.gamedb3 as |game index|}}

			<table class='ggg {{if game.MODE1 'bgred2'}}{{if game.MODE2 'bggr3'}}' {{action 'showhideo3' index}}>
				<tr>
					<td class='flagco'>{{#if game.MODE1}}<div><i class='fa fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
					<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
					<td class='mainco'>
						<a>{{game.gameNAME}}</a><br>
						<span>Дата выхода {{game.DATE}}</span> 
						<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
						<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
					</td>
					<td>
						<button {{action 'zaips' 1 game._id bubbles=false}} class='BagButon'>П1<br>
							{{#if game.P3PRICE1}}
								<h3>{{game.P3PRICE1}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P1NO}}<div class='statustr status-3'>{{game.P1NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 2 game._id bubbles=false}} class='BagButon'>П2<br>
							{{#if game.P3PRICE2}}
								<h3>{{game.P3PRICE2}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P2NO}}<div class='statustr status-3'>{{game.P2NO}}</div>{{/if}}
						</button>
					</td>
					<td>
						<button {{action 'zaips' 3 game._id bubbles=false}} class='BagButon'>П3<br>
							{{#if game.P3PRICE3}}
								<h3>{{game.P3PRICE3}}</h3><br>рублей
							{{else}}
								<h3>НЕТ</h3><br>цены
							{{/if}}
							{{#if game.P3NO}}<div class='statustr status-3'>{{game.P3NO}}</div>{{/if}}
						</button>
					</td>
				</tr>
			</table>

			{{#if game.SHOWHIDEO}}
			<table class="djuke">
				{{#each game.TROIKI as |users|}}
					{{#if users.ACCOUNT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.ACCOUNT}}</td></tr>{{/if}}
					{{#if users.COMMENT}}<tr class='uddah {{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'><td colspan='6'>{{users.COMMENT}}</td></tr>{{/if}}
					<tr class='{{if users.MODE1 "bgred2"}}{{if users.MODE2 "bggr3"}}'>
						<td>
							П1<span> - </span>
							{{#if users.P1}}
								<a title='{{if users.P1PRICE (concat users.P1PRICE "р")}}' href='/u/{{users.P1}}'>{{users.P1}}</a>
								<a class='repala {{if users.P1FBred "bgred" "bggr2"}}' href='/u/{{users.P1}}/kek'>
									{{users.P1FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P1FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P1FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P1FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P1TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P1PRICE (concat users.P1PRICE "р")}}
								{{/if}}
							{{/if}}
							<br>
							П1<span> - </span>
							{{#if users.P2}}
								<a title='{{if users.P2PRICE (concat users.P2PRICE "р")}}' href='/u/{{users.P2}}'>{{users.P2}}</a>
								<a class='repala {{if users.P2FBred "bgred" "bggr2"}}' href='/u/{{users.P2}}/kek'>
									{{users.P2FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P2FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P2FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P2FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P2TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P2PRICE (concat users.P2PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P1}}
								{{#if users.P1STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P1STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P1STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P1STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
							{{#if users.P2}}
								{{#if users.P2STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P2STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P2STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P2STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П2<span> - </span>
							{{#if users.P3}}
								<a title='{{if users.P3PRICE (concat users.P3PRICE "р")}}' href='/u/{{users.P3}}'>{{users.P3}}</a>
								<a class='repala {{if users.P3FBred "bgred" "bggr2"}}' href='/u/{{users.P3}}/kek'>
									{{users.P3FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P3FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P3FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P3FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P3TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P3PRICE (concat users.P3PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P3}}
								{{#if users.P3STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P3STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P3STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P3STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
						<td>
							П3<span> - </span>
							{{#if users.P4}}
								<a title='{{if users.P4PRICE (concat users.P4PRICE "р")}}' href='/u/{{users.P4}}'>{{users.P4}}</a>
								<a class='repala {{if users.P4FBred "bgred" "bggr2"}}' href='/u/{{users.P4}}/kek'>
									{{users.P4FEEDBACK.PERCENT}}%
									<span>
										<i class='fa fa-smile-o'></i> {{users.P4FEEDBACK.GOOD}} 
										<i class='fa fa-meh-o'></i> {{users.P4FEEDBACK.NEUTRAL}} 
										<i class='fa fa-frown-o'></i> {{users.P4FEEDBACK.BAD}}
									</span>
								</a>
							{{else}}
								{{#if users.P4TAKEN}}
									Нету
								{{else}}
									Cвободно {{if users.P4PRICE (concat users.P4PRICE "р")}}
								{{/if}}
							{{/if}}
						</td>
						<td>
							{{#if users.P4}}
								{{#if users.P4STATUS.[0]}}<div class='malabela bgred3'><i class='fa fa-usd fa-spin'></i> <span>ждем оплату</span></div>{{/if}}
								{{#if users.P4STATUS.[1]}}<div class='malabela bggr'><i class='fa fa-usd'></i> <span>оплатил</span></div>{{/if}}
								{{#if users.P4STATUS.[2]}}<div class='malabela bgred'><i class='fa fa-spinner fa-pulse'></i> <span>получил данные</span></div>{{/if}}
								{{#if users.P4STATUS.[3]}}<div class='malabela bggr'><i class='fa fa-check'></i> <span>скачал</span></div>{{/if}}
							{{/if}}
						</td>
					</tr>
				{{else}}
					<tr class='uddah'><td>Пусто</td></tr>
				{{/each}}
			</table>
			{{/if}}

		{{/each}}
		{{/if}}

		</div>
	{{/if}}

</div>
