<div class='shinbakaz'>

	<div class="sosia">
		<a title='Поделиться ВКонтакте' href='http://vk.com/share.php?url=https://union3.ru/MrBug/'><i class='fa fa-vk'></i></a>
		<a title='Facebook' href='http://www.facebook.com/share.php?u=https://union3.ru/MrBug/'><i class='fa fa-facebook-square'></i></a>
		<a title='Twitter' href='http://twitter.com/home?status=Организатор MrBug - Совместные покупки игр PS4 - https://union3.ru/MrBug/'><i class='fa fa-twitter-square'></i></a>
		<a title='Google Plus' href='https://plus.google.com/share?url=https://union3.ru/MrBug/'><i class='fa fa-google-plus-square'></i></a>
	</div>

	<hr>
	<h1 class="razdelhe">Совместная покупка игр для PS4 на четверых</h1>
	<hr>

	<table class='bagahe'>

		<tbody>

			<tr>
				<td>
					<span class="smaladndark">организатор</span>
					<div class="headin"><a href="/u/MrBug">MrBug</a></div>
				</td>
				<td colspan="2">
				<span class="smaladndark">кто владелец? я владелец! он владелец? узнай владельца!</span>
					<form {{ action "troikopoisk" on="submit"}}>
						{{input class="poiskbox" minlength="20" maxlength="40" type="text" placeholder="Логин аккаунта игры целиком...." value=troikopoisk2}}
						<button type="submit" class="poiskbutt"><i class="fa fa-search"></i></button>
					</form>
				</td>
			</tr>

			<tr>
				<td>
					<button class="headin{{if bagoPravila " bi4"}}" {{action 'bagoPravila'}}>Правила</button>
				</td>
				<td>
					<button class="headin{{if bagoGuidaz " bi4"}}" {{action 'bagoGuidaz'}}>Инструкции</button>
				</td>
				<td>
					<button class="headin{{if bagoPlati " bi4"}}" {{action 'bagoPlati'}}>Оплата</button>
				</td>
			</tr>
			{{#if bagoPravila}}
			<tr class="bagarulez">
				<td colspan="3">
					<div class="gege">
						<span>#1</span>После подажи аккаунта на барахолке - сообщи организатору нового владельца<br><br>
						<span>#2</span>После покупки аккаунта на барахолке - поменяй пароль, сообщи организатору новый пароль<br><br>
						<span>#3</span>Не обновляй аккаунт до основного, нажимай только "позже" - покараем моментально, будет больно, абещаием!
					</div>
				</td>
			</tr>
			{{/if}}
			{{#if bagoGuidaz}}
			<tr class="bagarulez">
				<td colspan="3">
					<div class="bleft">
						<a href="/post/20">Инструкции П1</a><br><br>
						<a href="/post/21">Инструкции П2</a>
					</div>
					<div class="bright">
						<a href="/post/22">Инструкции П3</a><br><br>
						<a href="/post/1715">Инструкции П4</a>
					</div>
				</td>
			</tr>
			{{/if}}
			{{#if bagoPlati}}
			<tr class="bagarulez">
				<td colspan="3">
					<img src="https://i.imgur.com/StWpB6n.png" alt="QIWI">
					<img src="https://i.imgur.com/ye0B8ku.png" alt="Сбербанк">
					<img src="https://i.imgur.com/zvYje84.png" alt="Webmoney">
					<img src="https://i.imgur.com/FnWYUc9.png" alt="Yandex">
					<img src="https://i.imgur.com/vIDuCPV.png" alt="Paypal">
					<img src="https://i.imgur.com/uzOpHOw.png" alt="BTC">
					<img src="https://i.imgur.com/xQOxbGu.png" alt="ETH">
				</td>
			</tr>
			{{/if}}
			<tr class="Bagolet">
				<td>
					<a href="https://letyshops.com/soc/sh-1?r=107535">
						до 30% с каждой интернет-покупки
						<div class="headin2">LetyShop</div>
						Регистрируйся и получи Premium аккаунт в подарок!
					</a>
				</td>
				<td colspan="2">
					<div class="gege">
						<a href="https://letyshops.com/soc/sh-1?r=107535">
							CASHBACK2_2018 - все заказы кэшбэк +30%, до 15.03.18<br>
							CASHBACK2x1.5 - Aliexpress кэшбэк +50%, до 15.03.18<br>
							TOPCASHBACK-ALI5% - Aliexpress кэшбэк = 5%, до 25.02.18<br>
							CASHBACK2-ALI5% - Aliexpress кэшбэк = 5%, до 25.02.18<br>
							TOPCASHBACK_2018 - все заказы кэшбэк +30%, до 15.03.18<br>
							TOPCASHBACKx1.5 - Aliexpress кэшбэк +50%, до 15.03.18<br>
							ZOTOV_2018 - все заказы кэшбэк +30%, до 15.03.18
						</a>
					</div>
				</td>
			</tr>

			{{#if model.qzstuff}}
			<tr class="Bagoqz">
				<td>
					<div class="headin">Быстрозапись</div>
				</td>
				<td colspan="2">
					<button {{action 'qzaips' 1}}>П1</button>
					<button {{action 'qzaips' 2}}>П2</button>
					<button {{action 'qzaips' 4}}>П4</button>

					<div class="select">
						<select required onchange={{action "qzselect" value="target.value"}}>
							<option disabled selected style="display: none"> -- Выбрать Игру -- </option>
							{{#each model.qzlist as |qzgame|}}
							<option value={{qzgame.[0]}}>{{qzgame.[1]}}</option>
							{{/each}} 
						</select>
					</div>
				</td>
			</tr>
			{{/if}}

		</tbody>
	</table>

	<hr>

	{{#if model.maigamez1}}
		<table class="atats kadu">
			{{#each model.maigamez1 as |game|}}
				<tr>
					<td><div class='malabela2 bgred3'><span class="hideoS">ждем оплату</span><span class="hideoB">$</span></div></td>
					<td><a>{{game.gNAME}}</a></td>

					{{#if game.PRICE}}
						<td>
							<span class="blakarand">П{{game.POSITION}}</span> 
							<span class="blakarand hideoS">Сбер / QIWI +7 9169493363</span> 
							<span class="blakarand">{{game.PRICE}}р</span>
						{{#if game.P1ADD}}<span class="smaladndark">+{{game.P1ADD}}р без П1</span>{{/if}}
						</td>
					{{else}}
						<td><span class="smaladndark">Цена позиции ещё неизвестна</span></td>
					{{/if}}
				</tr>
			{{/each}}
			<tr class="hideoB"><td colspan="3">Сбер / QIWI +7 9169493363</td></tr>
		</table>
		<span class="smaladndark">В комментарии к платежу обязательно укажите ваш ник и игру! Напишите мне <a href='/u/MrBug'>Личное Сообщение</a> как оплатите!<br>
		Реквизиты на оплату Webmoney, Яндекс, Paypal, BTC, ETH спросите у меня через <a href='/u/MrBug'>Личные Сообщения</a></span>

	{{/if}}
	
	<br>
	
	{{#if model.maigamez2}}
		<table class="atats udak">
			{{#each model.maigamez2 as |game|}}
				<tr>
					<td><div class='malabela2 bggr'><span class="hideoS">оплачено</span><span class="hideoB">i</span></div></td>
					<td><a>{{game.gNAME}}</a></td>
					<td><span class="blakarand">П{{game.POSITION}}</span></td>
				</tr>
			{{/each}}
		</table>
		<span class="smaladndark">Раздача осуществляется в порядке П1 -> П4 -> П2<br>Ход и статус раздачи отслеживайте по списку ниже :)</span>
	{{/if}}

	{{#if bagamdal}}
		<div class="etomudal">

			{{#if mdalready}}
			
				<button class="netmudal" {{action 'netmudal'}}></button>
			
				{{#if poiskmdal}}

					{{#if troikopoisk.poiskwin}}

						<div class="mudalcontent mudaladdon headin3">
							<div class="bagariban">{{troikopoisk.GAME}}</div>
							<span>{{troikopoisk._id}}</span>
							<table><tbody>
								<tr>
									<td>П2<br><a href="/u/{{troikopoisk.P2}}">{{troikopoisk.P2}}</a></td>
									{{#if troikopoisk.P41}}
									<td>П4<br><a href="/u/{{troikopoisk.P41}}">{{troikopoisk.P41}}</a></td>
									<td>П4<br><a href="/u/{{troikopoisk.P42}}">{{troikopoisk.P42}}</a></td>
									{{else}}
									<td>П3<br><a href="/u/{{troikopoisk.P3}}">{{troikopoisk.P3}}</a></td>
									{{/if}}
								</tr>
							</tbody></table>
						</div>
					{{else}}
						<div class="mudalcontent mudaladdon headin3">
							<div class="bagariban">Не найден</div>
							<span>{{troikopoisk2}}</span>
						</div>
					{{/if}}

				{{/if}}

				{{#if zaipsmdal}}

					{{#if prezaips.guest}}
						<div class="mudalcontent mudaladdon headin3">
							<div class="bagariban">Внимание</div>
							<span>Для участия в совместной покупке игр требуется <a href='/signup'>Регистрация</a></span>
						</div>
					{{/if}}

					{{#if prezaips.piadin}}
						<div class="mudalcontent mudaladdon headin3">
							<div class="bagariban">Внимание</div>
							<span>Для записи на позицию П1 требуется залог<br>
							Запись без залога доступна только для опытных участников<br>
							Запись возможна только через личное сообщение <a href='/u/MrBug'>Организатору</a></span>
						</div>
					{{/if}}

					{{#if prezaips.banned}}
						<div class="mudalcontent mudaladdon headin3">
							<div class="bagariban">Внимание</div>
							<span>Запись возможна только через личное сообщение <a href='/u/MrBug'>Организатору</a></span>
						</div>
					{{/if}}

					{{#if prezaips.winrars}}
						<div class="mudalcontent headin3 prezaips">
							<div class="bagato">
								<div class="bagapi" style="background-image:url('{{prezaips.imgLINK}}')"></div>
								<h1><a>{{prezaips.gameNAME}}</a> Запись</h1>
							</div>
							<button {{action 'imgoingin'}}>Записаться на П{{prezaips.position}}</button>
							<button {{action 'netmudal'}}>Нет, Отменить</button>
						</div>
					{{/if}}

					{{#if zaips.winrars}}
						<div class="mudalcontent mudaladdon headin3">
							<span>Запись</span>
							<span>на позицию П{{zaips.position}}</span>
							<div class="bagariban">{{zaips.gameNAME}}</div>
							<span>Успешно произведена!</span>
						</div>
					{{/if}}

					{{#if zaips.zaipsfail}}
						<div class="mudalcontent headin3 prezaips">
							<div class="bagato">
								<div class="bagapi" style="background-image:url('https://i.imgur.com/33FJekg.png')">Epic Fail Is Epic</div>
							</div>
						</div>
					{{/if}}

				{{/if}}

			{{else}}

				<div class="bagaspin"></div>

			{{/if}}

		</div>
	{{/if}}

	<h1>Hello World 3</h1>
	<h1 class="mitt_newpage">Welcome {{currentUser.username}}</h1>

</div>
