<div class="rentobaka">
	<div class="gname">
		<h2>Аренда игр PS4 от <a href="/u/MrBug">MrBug</a></h2>
		<button {{action 'showRULEZ'}}>ПРАВИЛА &amp; ИНСТРУКЦИИ</button>
	</div>

	{{#if rulez}}
	<div class="bagalert">
		<ul>
			<h3>Для подачи заявки на игру необходимо выполнить следующие действия</h3>
			<li>Определиться с выбором игры и уведомить <a href="/u/MrBug">MrBug</a>, написав ему личное сообщение: Название игры и срок на который Вы хотите взять игру в прокат</li>
			<li>Бага в ближайшее время свяжется с Вами, оставит реквизиты для оплаты проката</li>
			<li>После оплаты проката вам будут переданы данные аккаунта</li>
		</ul>

		<ul>
			<br><br><h3>Оплата</h3>
			<li>Для новичков действуют правила залога в размере 1000р, 2000р и 3000р (зависит от игры)</li>
			<li>Правом пользования услугами проката без взноса залога могут пользоваться только проверенные временем постоянные клиенты форума (Регистрация больше полугода, больше 10 отзывов, оплаченные позиции в четверках и тд)</li>
			<li>Залог вносится на срок проката игры и возвращается по окончанию прокатного времени</li>
			
			<br><br><h3>Прокат любой игры без залога</h3>
			<li>На всех играх есть позиция П2 которая дается в прокат без залога</li>
			<li>Стоимость проката П2 без залога будет на 50% больше стоимости проката П3 с залогом</li>
		 
			<br><br><h3>Порядок действий после оплаты и получения данных аккаунта с игрой</h3>
			<li>После получения логина и пароля, Вы включаете приставку и создаете нового пользователя</li>
			<li>В появившемся меню ввода логина и пароля вписываем полученные данные</li>
			<li>Если появится вопрос про обновление учетной записи до основной, обязательно выбираем "Позже".</li>
			<br>
			<h5>При создании аккаунта П2</h5>
			<li>После ввода данных система предложит "Изменить свою основную систему PS4" ОБЯЗАТЕЛЬНО НАЖАТЬ "НЕ МЕНЯТЬ"</li>
			<br>
			<h5>При создании аккаунта П3</h5>
			<li>После ввода данных аккаунт активируется как основной автоматически</li>
			<br>
			<li>Заходим на аккаунт, выбираем вкладку "Библиотека". Находим игру в списке. Нажимаем на неё и ставим игру на загрузку</li>
			<li>Возможен баг когда во вкладке "Библиотека" игра не отображается. Одно из решений этого бага, во вкладке "Библиотека" найти игру через "Поиск"</li>
		
			<br><br><h3>Порядок действий после окончания проката П2</h3>
			<li>Отправить личное сообщение <a href="/u/MrBug">MrBug</a> :)</li>
		
			<br><br><h3>Порядок действий после окончания проката П3</h3>
			<li>Отправить личное сообщение <a href="/u/MrBug">MrBug</a>, получить актуальный пароль от аккаунта</li>
			<li>Заходим на прокатный аккаунт</li>
			<li>Выбираем настройки</li>
			<li>Выбираем пункт Управление учетной записью</li>
			<li>Выбираем пункт Активировать учетную запись как основную и нажимаем пункт Деактивировать</li>
			<li>Выбираем Пользователи - Удалить Пользователя</li>
			<li>После деактивации и удаления профиля сообщаем в личном сообщении <a href="/u/MrBug">MrBug</a>, что Вы деактивировали аккаунт и удалили профиль со своей консоли</li>
			<li>Бага проверяет аккаунт и если деактивация выполнена правильно возвращает залог</li>
		
			<br><br><h3>Сроки проката</h3>
			<li>Срок на который Вы взяли игру в прокат начинается со следующего дня от передачи Вам данных аккаунта</li>
			<li>При желании Вы можете вернуть аккаунт раньше срока</li>
			<li>Вы можете продлить прокат по окончанию срока, сколько угодно раз, независимо от очереди</li>
		</ul>
	</div>
	{{/if}}

	<div class='rentbox'>

		<div class='title'>
			Всего игр в прокате: <span>{{model.count.[0]}}</span><br>
			<input type="checkbox" checked {{action "showTYPE1" on="change"}}/> Реально Игр: <span>{{model.count.[1]}}</span>
			<input type="checkbox" checked {{action "showTYPE2" on="change"}}/> Легких и Коротких Платин: <span>{{model.count.[2]}}</span>
			<input type="checkbox" checked {{action "showTYPE3" on="change"}}/> Легких и Коротких Игр: <span>{{model.count.[3]}}</span>
			<input type="checkbox" checked {{action "showTYPE4" on="change"}}/> Хиты Для Избранных: <span>{{model.count.[4]}}</span>
		</div>
		<span class="textright2">Неделя / Месяц</span>
		<div class='innerbox'>
			{{#each model.rentaGAMEZ as |game|}}
				{{#if showTYPE1}}{{#if game.TYPE1}}
				<div>
					{{#if game.STATUS}}
						<span class='red'><b>[</b> <span class="hideoS">Занят</span>{{d-icon 'times hideoB'}}</span> до {{game.STATUS}} <b>]</b> {{#if game.LINE}}<b>[</b> +{{game.LINE}} в очереди <b>]</b> {{/if}}<b>[</b> {{game.POSITION}} <b>]</b></span>
					{{else}}
						<span class='green'><b>[</b> <span class="hideoS">Cвободен</span>{{d-icon 'check hideoB'}} <b>]</b> <b>[</b> {{game.POSITION}} <b>]</b></span>
					{{/if}}

					{{game.GNAME}}

					{{#if game.GNEW}}
						<img src="https://i.imgur.com/84UQp3G.gif">
					{{/if}}

					<span class='textright'>
						{{game.PRICE}}
					</span>
				</div>
				{{/if}}{{/if}}
				{{#if showTYPE2}}{{#if game.TYPE2}}
				<div>
					{{#if game.STATUS}}
						<span class='red'><b>[</b> <span class="hideoS">Занят</span>{{d-icon 'times hideoB'}} до {{game.STATUS}} <b>]</b> {{#if game.LINE}}<b>[</b> +{{game.LINE}} в очереди <b>]</b> {{/if}}<b>[</b> {{game.POSITION}} <b>]</b></span>
					{{else}}
						<span class='green'><b>[</b> <span class="hideoS">Cвободен</span>{{d-icon 'check hideoB'}} <b>]</b> <b>[</b> {{game.POSITION}} <b>]</b></span>
					{{/if}}

					{{game.GNAME}} <span class='t2text hideoS'>{{game.GCOMMENT}}</span>

					{{#if game.GNEW}}
						<img src="https://i.imgur.com/84UQp3G.gif">
					{{/if}}

					<span class='textright'>
						{{game.PRICE}}
					</span>
				</div>
				{{/if}}{{/if}}
				{{#if showTYPE3}}{{#if game.TYPE3}}
				<div>
					{{#if game.STATUS}}
						<span class='red'><b>[</b> <span class="hideoS">Занят</span>{{d-icon 'times hideoB'}} до {{game.STATUS}} <b>]</b> {{#if game.LINE}}<b>[</b> +{{game.LINE}} в очереди <b>]</b> {{/if}}<b>[</b> {{game.POSITION}} <b>]</b></span>
					{{else}}
						<span class='green'><b>[</b> <span class="hideoS">Cвободен</span>{{d-icon 'check hideoB'}} <b>]</b> <b>[</b> {{game.POSITION}} <b>]</b></span>
					{{/if}}

					{{game.GNAME}} <span class='t2text hideoS'>{{game.GCOMMENT}}</span>

					{{#if game.GNEW}}
						<img src="https://i.imgur.com/84UQp3G.gif">
					{{/if}}

					<span class='textright'>
						{{game.PRICE}}
					</span>
				</div>
				{{/if}}{{/if}}
				{{#if showTYPE4}}{{#if game.TYPE4}}
				<div>
					{{#if game.STATUS}}
						<span class='red'><b>[</b> <span class="hideoS">Занят</span>{{d-icon 'times hideoB'}} до {{game.STATUS}} <b>]</b> {{#if game.LINE}}<b>[</b> +{{game.LINE}} в очереди <b>]</b> {{/if}}<b>[</b> {{game.POSITION}} <b>]</b></span>
					{{else}}
						<span class='green'><b>[</b> <span class="hideoS">Cвободен</span>{{d-icon 'check hideoB'}} <b>]</b> <b>[</b> {{game.POSITION}} <b>]</b></span>
					{{/if}}

					{{game.GNAME}}

					{{#if game.GNEW}}
						<img src="https://i.imgur.com/84UQp3G.gif">
					{{/if}}

					<span class='textright'>
						{{game.PRICE}}
					</span>
				</div>
				{{/if}}{{/if}}
			{{/each}}
		</div>
	</div>

	<br>
	<div class="rentbox2">
		<div class='mimu'>
			<button class="{{if showGAMEZ "bi4"}}" {{action 'showGAMEZ'}}>Игры Игры</button>
			<button class="{{if showCRAP "bi4"}}" {{action 'showCRAP'}}>Легкие и Короткие</button>
			<button class="{{if showSHITS "bi4"}}" {{action 'showSHITS'}}>Хиты Для Избранных</button>
		</div>
		<br>
		<table class="list">
			{{#if showGAMEZ}}
			{{#each model.rentaGAMEZ1 as |game|}}
			<tbody>
				<tr>
					<td class="gname" colspan="3"><h3>{{game.GNAME}}</h3></td>
					<td class="rentaimg" rowspan="2"><img src="{{game.GPIC}}"><span>{{game.GCOMMENT}}</span></td>
				</tr>
				<tr>
					{{#if game.STATUS}}
						<td class="malabela2 bgred3">
							Занят до {{game.STATUS}}
							{{#if game.LINE}} +{{game.LINE}} в очереди{{/if}}
						</td>
					{{else}}
					<td class="malabela2 bggr">Cвободен</td>
					{{/if}}
					<td class="malabela2"><strong>{{game.POSITION}}</strong></td>
					<td class="malabela2">{{game.PRICE}}</td>
				</tr>
			</tbody>
			{{/each}}
			{{/if}}

			{{#if showCRAP}}
			{{#each model.rentaGAMEZ2 as |game|}}
			<tbody>
				<tr>
					<td class="gname" colspan="3"><h3>{{game.GNAME}}</h3></td>
					<td class="rentaimg" rowspan="2"><img src="{{game.GPIC}}"><span>{{game.GCOMMENT}}</span></td>
				</tr>
				<tr>
					{{#if game.STATUS}}
						<td class="malabela2 bgred3">
							Занят до {{game.STATUS}}
							{{#if game.LINE}} +{{game.LINE}} в очереди{{/if}}
						</td>
					{{else}}
					<td class="malabela2 bggr">Cвободен</td>
					{{/if}}
					<td class="malabela2"><strong>{{game.POSITION}}</strong></td>
					<td class="malabela2">{{game.PRICE}}</td>
				</tr>
			</tbody>
			{{/each}}
			{{/if}}
			
			{{#if showSHITS}}
			{{#each model.rentaGAMEZ3 as |game|}}
			<tbody>
				<tr>
					<td class="gname" colspan="3"><h3>{{game.GNAME}}</h3></td>
					<td class="rentaimg" rowspan="2"><img src="{{game.GPIC}}"><span>{{game.GCOMMENT}}</span></td>
				</tr>
				<tr>
					{{#if game.STATUS}}
						<td class="malabela2 bgred3">
							Занят до {{game.STATUS}}
							{{#if game.LINE}} +{{game.LINE}} в очереди{{/if}}
						</td>
					{{else}}
					<td class="malabela2 bggr">Cвободен</td>
					{{/if}}
					<td class="malabela2"><strong>{{game.POSITION}}</strong></td>
					<td class="malabela2">{{game.PRICE}}</td>
				</tr>
			</tbody>
			{{/each}}
			{{/if}}

		</table>
	</div>

</div>
