<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="rentobaka">
	<div class="gname">
		<h2>Аренда игр PS4 / PS5 от <a href="/u/MrBug">MrBug</a></h2>
		<button class='{{if rulez "slut"}}' {{action 'showRULEZ'}}>ПРАВИЛА &amp; ИНСТРУКЦИИ</button>
	</div>

	{{#if rulez}}
	<div class="bagalert">
		<ul>
			<h3>Для аренды игры необходимо выполнить следующие действия</h3>
			<li>Определиться с выбором игры и уведомить <a href="/u/MrBug">MrBug</a>, написав ему личное сообщение: Название игры и срок на который Вы хотите взять игру в прокат</li>
			<li>В ближайшее время Бага оставит вам реквизиты для оплаты проката</li>
			<li>После оплаты проката вам будут переданы данные аккаунта</li>
		</ul>
		<ul>
			<h3>Оплата</h3>
			<li>Новичкам аренда предоставляется только после внесения залога за игру (зависит от игры, обычно 1000р, 2000р или 3000р)</li>
			<li>Постояльцам аренда предоставляется с минимальным залогом</li>
			<li>Залог вносится на срок проката игры и возвращается по окончанию проката</li>
			<li>Невостребованный Залог в течении 7 дней сгорает</li>
		</ul>
		<ul>
			<h3>Прокат игры без залога</h3>
			<li>На многих играх есть позиция П2 которая дается в прокат без залога</li>
			<li>Стоимость проката П2 без залога равна двойной стоимости проката П3 или П4</li>
		</ul>
		<ul>
			<h3>Порядок действий после оплаты и получения данных аккаунта с игрой</h3>
			<li>После получения логина и пароля, Вы включаете приставку и создаете нового пользователя</li>
			<li>В появившемся меню ввода логина и пароля вписываем полученные данные</li>
			<li>Если появится вопрос про обновление учетной записи до основной, обязательно выбираем "Позже".</li>
			<br>
			<h5>При создании аккаунта П4 или П3</h5>
			<li>После ввода данных аккаунт активируется как основной автоматически</li>
			<br>
			<li>Заходим на аккаунт, выбираем вкладку "Библиотека". Находим игру в списке. Нажимаем на неё и ставим игру на загрузку</li>
			<li>Возможен баг когда во вкладке "Библиотека" игра не отображается. Одно из решений этого бага, во вкладке "Библиотека" найти игру через "Поиск"</li>
		</ul>
		<ul>
			<h3>Порядок действий после окончания проката П4 или П3</h3>
			<li>Сообщить о завершении проката в личном сообщение <a href="/u/MrBug">MrBug</a>, получить актуальный пароль от аккаунта</li>
			<li>Заходим на прокатный аккаунт</li>
			<br>
			<h5>На PS4</h5>
			<li>Выбираем настройки</li>
			<li>Выбираем пункт Управление учетной записью</li>
			<li>Выбираем пункт Активировать учетную запись как основную и нажимаем пункт Деактивировать</li>
			<li>Выбираем Пользователи - Удалить Пользователя</li>
			<br>
			<h5>На PS5</h5>
			<li>Выбираем настройки</li>
			<li>Выбираем пункт пользователи и учетные записи</li>
			<li>Выбираем пункт Другое - Общий доступ к консоли и автономная игра - Отключить</li>
			<li>Выбираем Пользователи - Удалить Пользователя</li>
			<br>
			<li>После деактивации и удаления профиля сообщаем в личном сообщении <a href="/u/MrBug">MrBug</a>, что Вы деактивировали аккаунт и удалили профиль со своей консоли</li>
			<li>Укажите реквизиты и сумму для возврата залога</li>
			<li>Бага проверяет аккаунт и если деактивация выполнена правильно, возвращает залог</li>
		</ul>
		<ul>
			<h3>Сроки проката</h3>
			<li>Срок на который Вы взяли игру в прокат начинается со следующего дня от передачи Вам данных аккаунта</li>
			<li>При желании Вы можете вернуть аккаунт раньше срока</li>
			<li>Вы можете продлить прокат по окончанию срока, сколько угодно раз, независимо от очереди</li>
		</ul>
	</div>
	{{/if}}

	<div class="mimu2">
		<button class="rentabutt{{unless showLIST " bi4"}}" {{action 'showLIST1'}}>Легкий Список</button>
		<button class="rentabutt{{if showLIST " bi4"}}" {{action 'showLIST2'}}>Тяжелый Cписок</button>
	</div>

	{{#unless showLIST}}
	<div class="rentbox">

		<div class="title">
			Всего игр в прокате: <span>{{model.count.[0]}}{{#if model.count.[5]}} ({{model.count.[5]}} скрыто){{/if}}</span><br>
			<div><input type="checkbox" checked=true {{action "showTYPE1" on="change"}}/> Реально Игр: <span>{{model.count.[1]}}</span></div>
			<div><input type="checkbox" checked=true {{action "showTYPE2" on="change"}}/> Легких и Коротких Платин: <span>{{model.count.[2]}}</span></div>
			<div><input type="checkbox" checked=true {{action "showTYPE3" on="change"}}/> Легких и Коротких Игр: <span>{{model.count.[3]}}</span></div>
			<div><input type="checkbox" checked=true {{action "showTYPE4" on="change"}}/> Хиты Для Избранных: <span>{{model.count.[4]}}</span></div>
		</div>
		<span class="textright2">Неделя / Месяц</span>
		<div class="innerbox">
			{{#each model.rentaGAMEZ as |game|}}
				{{#unless (get rentaLIST game.GNAME)}}
				<div class="
					{{unless showTYPE1 (if game.TYPE1 "rentahideoz")}}
					{{unless showTYPE2 (if game.TYPE2 "rentahideoz")}}
					{{unless showTYPE3 (if game.TYPE3 "rentahideoz")}}
					{{unless showTYPE4 (if game.TYPE4 "rentahideoz")}}
				">
					{{#if game.STATUS}}
						<span class="red">
							<b>[</b> <span class="hideoS">Занят</span>
							<i class="fas fa-times hideoB"></i> до {{game.STATUS}} <b>]</b>
							{{#if game.LINE}}<b>[</b> +{{game.LINE}} в очереди <b>]</b> {{/if}}
							<b>[</b> {{game.POSITION}} <b>]</b>
						</span>
					{{else}}
						<span class="green"><b>[</b> <span class="hideoS">Cвободен</span>
						<i class="fas fa-check hideoB"></i> <b>]</b> 
						<b>[</b> {{game.POSITION}} <b>]</b></span>
					{{/if}}

					{{game.GNAME}}

					{{#if game.TYPE2}}<span class="t2text hideoS">{{game.GCOMMENT}}</span>{{/if}}
					{{#if game.TYPE3}}<span class="t2text hideoS">{{game.GCOMMENT}}</span>{{/if}}
					{{#if game.GNEW}}<img src="https://i.imgur.com/84UQp3G.gif">{{/if}}

					<span class="textright">{{game.PRICE}}</span>
				</div>
				{{/unless}}
			{{/each}}
		</div>
	</div>
	{{/unless}}
	
	{{#if showLIST}}
	<div class="rentbox2">
		<div class="mimu">
			<button class="rentabutt{{if showGAMEZ " bi4"}}" {{action 'showGAMEZ'}}>Игры Игры</button>
			<button class="rentabutt{{if showCRAP " bi4"}}" {{action 'showCRAP'}}>Легкие и Короткие</button>
			{{#if model.count.[5]}}
			<button class="rentabutt{{if showHIDEOZ " bi4"}}" {{action 'showHIDEOZ'}}>Скрытые</button>
			{{/if}}
		</div>

		{{#if showGAMEZ}}
		<table class="list">
			{{#each model.rentaGAMEZ1 as |game index|}}
			{{#unless (get model.rentaLIST game.GNAME)}}
			<tbody>
				<tr>
					<td class="gname" colspan="4"><h3>{{game.GNAME}}</h3></td>
					<td class="rentaimg" rowspan="2">
						<img class="lazyload" data-src="{{game.GPIC}}">
						<span>{{game.GCOMMENT}}</span>
					</td>
				</tr>

				<tr>
					{{#if game.STATUS}}
						<td class="malabela2 bgred3">
							Занят до {{game.STATUS}}
							{{#if game.LINE}} +{{game.LINE}} в очереди{{/if}}
						</td>
					{{else}}
						<td class="malabela2 bggr">Cвободен</td>
					{{/if}}

					<td class="malabela2"><strong>{{game.POSITION}}</strong></td>
					<td class="malabela2">{{game.PRICE}}</td>

					{{#if currentUser.username}}
						<td class="malabela2">
							{{#if (get hideobutts index)}}
								<div class="tinybagaspin"></div>
							{{else}}
								<button {{action 'hideoGAMEZ' game index 1}}>
									<i class="far fa-eye-slash"></i>
								</button>
							{{/if}}
						</td>
					{{/if}}
				</tr>
			</tbody>
			{{/unless}}
			{{/each}}
		</table>
		{{/if}}
		
		{{#if showCRAP}}
		<table class="list">
			{{#each model.rentaGAMEZ2 as |game index|}}
			{{#unless (get model.rentaLIST game.GNAME)}}
			<tbody>
				<tr>
					<td class="gname" colspan="4"><h3>{{game.GNAME}}</h3></td>
					<td class="rentaimg" rowspan="2">
						<img class="lazyload" data-src="{{game.GPIC}}">
						<span>{{game.GCOMMENT}}</span>
					</td>
				</tr>

				<tr>
					{{#if game.STATUS}}
						<td class="malabela2 bgred3">
							Занят до {{game.STATUS}}
							{{#if game.LINE}} +{{game.LINE}} в очереди{{/if}}
						</td>
					{{else}}
						<td class="malabela2 bggr">Cвободен</td>
					{{/if}}

					<td class="malabela2"><strong>{{game.POSITION}}</strong></td>
					<td class="malabela2">{{game.PRICE}}</td>

					{{#if currentUser.username}}
						<td class="malabela2">
							{{#if (get hideobutts index)}}
								<div class="tinybagaspin"></div>
							{{else}}
								<button {{action 'hideoGAMEZ' game index 1}}>
									<i class="far fa-eye-slash"></i>
								</button>
							{{/if}}
						</td>
					{{/if}}
				</tr>
			</tbody>
			{{/unless}}
			{{/each}}
		</table>
		{{/if}}

		{{#if showHIDEOZ}}
		<table class="list">
			{{#each rentaHIDEO as |game index|}}
			<tbody>
				<tr>
					<td class="gname" colspan="4"><h3>{{game.GNAME}}</h3></td>
					<td class="rentaimg" rowspan="2">
						<img class="lazyload" data-src="{{game.GPIC}}">
					</td>
				</tr>

				<tr>
					{{#if currentUser.username}}
						<td class="malabela2">
							{{#if (get hideobutts index)}}
								<div class="tinybagaspin"></div>
							{{else}}
								<button {{action 'hideoGAMEZ' game index -1}}>
									<i class="far fa-eye"></i>
								</button>
							{{/if}}
						</td>
					{{/if}}
				</tr>
			</tbody>
			{{/each}}
		</table>
		{{/if}}
	</div>
	{{/if}}

</div>
