<div class="rentobaka">
	<div class="gname">
		<h2>Аренда игр PS4 от MrBug</h2>
		<button {{action 'showRULEZ'}}>ПРАВИЛА</button>
	</div>

	{{#if rulez}}
	<div class="alert alert-info">
		<ol>
			<h3>Для подачи заявки на игру необходимо выполнить следующие действия</h3>
			<li>Определиться с выбором игры и уведомить <a href="/u/MrBug">MrBug</a>, написав ему личное сообщение: Название игры и срок на который Вы хотите взять игру в прокат</li>
			<li>Бага в ближайшее время свяжется с Вами, оставит реквизиты для оплаты проката</li>
			<li>После оплаты проката вам будут переданы данные аккаунта</li>
		</ol>

		<ul>
			<h3>Оплата</h3>
			<li>Для новичков действуют правила залога в размере 1000р, 2000р и 3000р (зависит от игры)</li>
			<li>Правом пользования услугами проката без взноса залога могут пользоваться только проверенные временем постоянные клиенты форума (Регистрация больше полугода, больше 10 отзывов, оплаченные позиции в четверках и тд)</li>
			<li>Залог вносится на срок проката игры и возвращается по окончанию прокатного времени</li>
		 
			<h3>Порядок действий после оплаты и получения данных аккаунта с игрой</h3>
			<li>После получения логина и пароля, Вы включаете приставку и создаете нового пользователя</li>
			<li>В появившемся меню ввода логина и пароля вписываем полученные данные</li>
			<br><br>
			<h5>При создании аккаунта П2</h5>
			<li>После ввода данных система предложит "Изменить свою основную систему PS4" ОБЯЗАТЕЛЬНО НАЖАТЬ "НЕ МЕНЯТЬ"</li>
			<br><br>
			<h5>При создании аккаунта П3</h5>
			<li>После ввода данных аккаунт активируется как основной автоматически</li>
			<br><br>
			<li>Заходим в аккаунт и выбираем вкладку "Библиотека". В ней вы увидите ярлык с необходимой игрой. Нажимаете на него и ставите игру на загрузку.</li>
			<li>Возможен баг когда во вкладке "Библиотека" игра не отображается. Одно из решений этого бага, во вкладке "Библиотека" открыть игру через "Поиск".</li>
		
			<h3>Порядок действий после окончания проката П2</h3>
			<li>Отправить личное сообщение <a href="/u/MrBug">MrBug</a> :)</li>
		
			<h3>Порядок действий после окончания проката П3</h3>
			<li>Отправить личное сообщение <a href="/u/MrBug">MrBug</a>, получить актуальный пароль от аккаунта</li>
			<li>Заходим на прокатный аккаунт</li>
			<li>Выбираем настройки</li>
			<li>Выбираем пункт Управление учетной записью</li>
			<li>Выбираем пункт Активировать учетную запись как основную и нажимаем пункт Деактивировать</li>
			<li>Выбираем Пользователи - Удалить Пользователя</li>
			<li>После деактивации и удаления профиля сообщаем в личном сообщении <a href="/u/MrBug">MrBug</a>, что Вы деактивировали аккаунт и удалили профиль со своей консоли</li>
			<li>Бага проверяет аккаунт и если деактивация выполнена правильно возвращает залог</li>
		
			<h3>Сроки проката</h3>
			<li>Срок на который Вы взяли игру в прокат начинается со следующего дня от передачи Вам данных аккаунта</li>
			<li>При желании Вы можете вернуть аккаунт раньше срока</li>
			<li>Вы можете продлить прокат по окончанию срока. Сколько угодно раз, независимо от очереди</li>
		</ul>
	</div>
	{{/if}}

	<div class='rentbox'>

		<div class='title'>
			Всего игр в прокате: <span>{{model.count.0}}</span>
			<input type="checkbox" checked {{action "showTYPE1" on="change"}}/> Игры чтобы играть: <span>{{model.count.1}}</span>
			<input type="checkbox" checked {{action "showTYPE2" on="change"}}/> Легкие и короткие платины: <span>{{model.count.2}}</span>
			<input type="checkbox" checked {{action "showTYPE3" on="change"}}/> Легкие и короткие без платины: <span>{{model.count.3}}</span>
		</div>
		<input class="search" placeholder="Поиск" />
		<br><br>
		<button class="sort" data-sort="gname">По названию</button>
		<button onclick="$('.rentaimg').toggleClass('P1Hideo')">Убить <img style="height: 18px" src="https://i.imgur.com/QKQkzwB.gif"></button>
		<br><br>
		<table class="list">
		<!-- BEGIN rentDB -->
		<tbody>
			<tr>
				<td class="gname" rowspan="{rentDB.ROWLEN}"><h3>{rentDB._id}</h3></td>
				<td class="rentaimg" colspan="3" ><img src="{rentDB.GPIC}"><span>{rentDB.GCOMMENT}</span></td>
			</tr>
			<!-- BEGIN rentDB.GITEMS -->
				<tr>
					<!-- IF rentDB.GITEMS.STATUS --><td class="malabela2 bgred3">Занят до <span>{rentDB.GITEMS.STATUS}</span><!-- IF rentDB.GITEMS.LINE --><br>+<span>{rentDB.GITEMS.LINE}</span> в очереди<!-- ENDIF rentDB.GITEMS.LINE --></td><!-- ELSE --><td class="malabela2 bggr">Cвободен</td><!-- ENDIF rentDB.GITEMS.STATUS -->
					<td class="malabela2"><strong>{rentDB.GITEMS.POSITION}</strong></td>
					<td class="malabela2 jojo">{rentDB.GITEMS.PRICE}</td>
				</tr>
			<!-- END rentDB.GITEMS -->
		</tbody>
		<!-- END rentDB -->
		</table>
	</div>
</div>
