<td class='flagco'>{{#if game.MODE1}}<div><i class='fas fa-exclamation fa-2x fa-pulse'></i></div>{{/if}}<i title='{{game.STORE}} Store' class='flag {{game.STORE}}'></i></td>
<td class='imgco'><img src='{{game.imgLINK}}' alt='{{game.gameNAME}}'></td>
<td class='mainco'>
	<a>{{game.gameNAME}}</a><br>
	{{#if TYPE2}}
		<span class='text'>Акция до {{game.DATE}}</span>
	{{/if}}
	{{#if TYPE3}}
		<span class='text'>Дата выхода {{game.DATE}}</span>
	{{/if}}
	<span class='baga baga-{{game.CONSOLE}}'>{{game.CONSOLE}}</span>
	{{#if game.CONSOLE2}}
		<span class='baga baga-{{game.CONSOLE2}}'>{{game.CONSOLE2}}</span>
	{{/if}}
	<span class='smaladndark minihrenvnizu'> &gt;&gt; открыть составы &lt;&lt; </span>
</td>
