<div class='kekbakaz'>

	{{#if otzivmdal}}
		<form {{action "OtzivZaips" on="submit"}}>
			<div>
				<button {{action 'selectOtz' 1}}>:)</button>
				<button {{action 'selectOtz' 2}}>):|</button>
				<button {{action 'selectOtz' 3}}>:(</button>
			</div>
			<div><button type="submit">Добавить отзыв</button></div>
			{{input minlength="20" maxlength="200" type="text" value=pisanina}}
		</form>
		{{#if otzivsmall}}
			<div>
				Отзыв Слишком Короткий!
			</div>
		{{/if}}
		{{#if otzivsbig}}
			<div>
				Отзыв Слишком Длинный!
			</div>
		{{/if}}
	{{/if}}
	
	{{#if otziv.winrars}}
		<div>
			Отзыв Успешно Записан!
		</div>
	{{/if}}
	
	{{#if otziv.gavas}}
		<div>
			Вы Уже Оставляли Отзыв, Попробуйте Позже
		</div>
	{{/if}}
	
	{{#if otziv.bakas}}
		<div>
			Вы не можете оставлять отзывы имея отрицательный отзыв<br>
			Обратитетсь к <a href='/u/MrBug'>Организатору</a> чтобы исправить отзыв
		</div>
	{{/if}}
	
	
	{{#if otziv.fail}}
		<div style="background-image:url('https://i.imgur.com/33FJekg.png')">
			Epic Fail Is Epic
		</div>
	{{/if}}

	<div>
		<h2>Отзывы</h2>
		<div>
			<span style='color: #27ae60'>{{model.fbG}}</span> / <span style='color: gray'>{{model.fbN}}</span> / <span style='color: lightcoral'>{{model.fbB}}</span>
		</div>
		<div>
			<div>
				<button {{action 'addOtziv'}}>Оставить отзыв</button>
			</div>
			{{#each pageFB as |feedback|}}
				<div class='{{feedback.COLOR}}'>
					<div><a href='/u/{{feedback.pNAME}}'>{{feedback.pNAME}}</a></div>
					<div>{{feedback.DATE}}</div>
					<div>{{feedback.FEEDBACK}}</div>
					{{#if feedback.eDit}}
						<button {{action 'editOtziv'}}>Изменить отзыв</button>
					{{/if}}
				</div>
				{{#if @last}}
					{{#if cum2m}}
						<button {{action 'showMORZ'}}>ещё</button>
					{{/if}}
				{{/if}}
			{{/each}}
			{{#if showfbARC}}
				<div class='zeN'>
					<div>Архив</div>
					<div>{{model.fbARC}} отзывов</div>
					<div>Старых и Неактуальных</div>
				</div>
			{{/if}}
		</div>
	</div>
	
	<div>
		<h2>Аккаунты</h2>
		<div></div>
		<div>
			{{#each model.ugameZ as |gamez|}}
				<div>П{{gamez.poZ}}</div>
				<div>{{gamez.gNAME}}</div>
				{{#if gamez.aCC}}
					<div>{{gamez.aCC}}</div>
				{{/if}}
			{{/each}}
		</div>
	</div>

</div>
