<div class='kekbakaz'>

	{{#if otzivmdal}}
		<form {{action "OtzivZaips" on="submit"}}>
			<div>
				<button class='{{if checked1 "bi4"}}' {{action 'selectOtz' 1}}>
					<img src='https://i.imgur.com/rmydNkF.png'>
				</button>
				<button class='{{if checked2 "bi4"}}' {{action 'selectOtz' 2}}>
					<img src='https://i.imgur.com/OMygNKW.png'>
				</button>
				<button class='{{if checked3 "bi4"}}' {{action 'selectOtz' 3}}>
					<img src='https://i.imgur.com/ZcxqN8c.png'>
				</button>
			</div>
			<div><button type="submit">{{if ozmode "Добавить" "Изменить"}} Отзыв</button></div>
			<div class='{{if checked1 "bi4G"}}{{if checked2 "bi4N"}}{{if checked3 "bi4B"}}'>
				{{input minlength="20" maxlength="200" type="text" value=pisanina}}
			</div>
		</form>
		{{#if otzivsmall}}
			<div class='netmudal'>
				Отзыв Слишком Короткий!
				<button {{action 'respCLOZ'}}></button>
			</div>
		{{/if}}
		{{#if otzivsbig}}
			<div class='netmudal'>
				Отзыв Слишком Длинный!
				<button {{action 'respCLOZ'}}></button>
			</div>
		{{/if}}
	{{/if}}

	{{#if responz.winrars_z}}
		<div class='netmudal'>
			Отзыв Успешно Записан!
			<button {{action 'respCLOZ'}}></button>
		</div>
	{{/if}}
	
	{{#if responz.winrars_e}}
		<div class='netmudal'>
			Отзыв Успешно Изменен!
			<button {{action 'respCLOZ'}}></button>
		</div>
	{{/if}}

	{{#if responz.gavas_z}}
		<div class='netmudal'>
			Вы Уже Оставляли Отзыв, Попробуйте Завтра
			<button {{action 'respCLOZ'}}></button>
		</div>
	{{/if}}
	
	{{#if responz.gavas_e}}
		<div class='netmudal'>
			Вы Уже Изменяли Отзыв, Попробуйте Завтра
			<button {{action 'respCLOZ'}}></button>
		</div>
	{{/if}}

	{{#if responz.bakas}}
		<div class='netmudal'>
			Вы не можете оставлять отзывы имея отрицательный отзыв<br>
			Обратитетсь к <a href='/u/MrBug'>Организатору</a> чтобы исправить отзыв
			<button {{action 'respCLOZ'}}></button>
		</div>
	{{/if}}

	{{#if responz.fail}}
		<div style="background-image:url('https://i.imgur.com/33FJekg.png'); width: 100%; height: 800px;">
			Epic Fail Is Epic
		</div>
	{{/if}}

	<div class='kekkok'>
		<h2>Отзывы</h2>
		<div class='xdux'>
			<span style='color: #27ae60'>{{model.fbG}}</span> / <span style='color: gray'>{{model.fbN}}</span> / <span style='color: lightcoral'>{{model.fbB}}</span>
		</div>
		<div class='keklist'>
			{{#if model.MENOSHO}}
				<div class="kekus">
					<button class="addZ" {{action 'addOtziv'}}>Оставить отзыв</button>
				</div>
			{{/if}}
			{{#each fEEDBACKS.fb1 as |feedback|}}
				<div class='kekus {{feedback.COLOR}}'>
					<div><a href='/u/{{feedback.pNAME}}'>{{feedback.pNAME}}</a></div>
					<div>{{feedback.DATE}}</div>
					<div>{{feedback.FEEDBACK}}</div>
					{{#if feedback.eDit}}
						<button class="ediZ" {{action 'editOtziv' feedback.FEEDBACK}}>Изменить отзыв</button>
					{{/if}}
				</div>
			{{/each}}
			{{#if mORE}}
				<button class="morZ" {{action 'showMORZ'}}>ещё</button>
			{{else}}
				{{#if model.fbARC}}
				<div class='kekus zeZ'>
					<div><a>Отзывов в Архиве</a></div>
					<div></div>
					<div><h3>{{model.fbARC}}</h3></div>
				</div>
				{{/if}}
			{{/if}}
		</div>
	</div>

	<br>

	<div class='kekkok'>
		<h2>Аккаунты</h2>
		<div class='keklist gamZ'>
			{{#each model.ugameZ as |gamez|}}
				<div class='kekus zeZ'>
					<div><a>{{#each gamez.poZ}}П{{this}} {{/each}}</a></div>
					<div>{{gamez.gNAME}}</div>
					<div class='acN'>{{gamez.aCC}}</div>
					<button {{action 'troikopoisk' gamez.gNAMEid}}></button>
				</div>
			{{/each}}
		</div>
	</div>

	<br>

	{{#if accamdal}}
		{{#if accawait}}

			<div class="bagaspin"></div>

		{{else}}

			{{#if troikopoisk.poiskwin}}
			<div class='kekkok'>
				<h2>{{troikopoisk._id}}</h2>
				{{#if cangetpass}}
					<div class='xdux'>
						{{#unless gotpass}}
							<button {{action 'getPaZZ' gamez.gNAMEid}}>Получит пароль</button>
						{{else}}
							{{actualgp}}
						{{/unless}}
					</div>
				{{/if}}
				<div class='keklist gamZ'>
					<div class="kekus zeZ" style="width: 100%"><div style="text-align: center">{{gamez.gNAME}}</div></div>
					{{#if troikopoisk.P2.[1]}}
						<div class='kekus zeZ'><div><a>П2 PS4</a></div><div><a href="/u/{{troikopoisk.P2.[0]}}">{{troikopoisk.P2.[0]}}</a></div></div>
						<div class='kekus zeZ'><div><a>П4 PS4</a></div><div><a href="/u/{{troikopoisk.P4.[0]}}">{{troikopoisk.P4.[0]}}</a></div></div>
						<div class='kekus zeZ'><div><a>П4 PS4</a></div><div><a href="/u/{{troikopoisk.P4.[1]}}">{{troikopoisk.P4.[1]}}</a></div></div>

						<div class='kekus zeZ'><div><a>П2 PS5</a></div><div><a href="/u/{{troikopoisk.P2.[1]}}">{{troikopoisk.P2.[1]}}</a></div></div>
						<div class='kekus zeZ'><div><a>П4 PS5</a></div><div><a href="/u/{{troikopoisk.P4.[2]}}">{{troikopoisk.P4.[2]}}</a></div></div>
						<div class='kekus zeZ'><div><a>П4 PS5</a></div><div><a href="/u/{{troikopoisk.P4.[3]}}">{{troikopoisk.P4.[3]}}</a></div></div>
					{{else}}
						{{#if troikopoisk.P4.[3]}}
							<div class='kekus zeZ'><div><a>П2</a></div><div><a href="/u/{{troikopoisk.P2.[0]}}">{{troikopoisk.P2.[0]}}</a></div></div>
							<div class='kekus zeZ'><div><a>П4 PS4</a></div><div><a href="/u/{{troikopoisk.P4.[0]}}">{{troikopoisk.P4.[0]}}</a></div></div>
							<div class='kekus zeZ'><div><a>П4 PS4</a></div><div><a href="/u/{{troikopoisk.P4.[1]}}">{{troikopoisk.P4.[1]}}</a></div></div>
							<div class='kekus zeZ'><div><a>П4 PS5</a></div><div><a href="/u/{{troikopoisk.P4.[2]}}">{{troikopoisk.P4.[2]}}</a></div></div>
							<div class='kekus zeZ'><div><a>П4 PS5</a></div><div><a href="/u/{{troikopoisk.P4.[3]}}">{{troikopoisk.P4.[3]}}</a></div></div>
						{{else}}
							<div class='kekus zeZ'><div><a>П2</a></div><div><a href="/u/{{troikopoisk.P2.[0]}}">{{troikopoisk.P2.[0]}}</a></div></div>
							<div class='kekus zeZ'><div><a>П4</a></div><div><a href="/u/{{troikopoisk.P4.[0]}}">{{troikopoisk.P4.[0]}}</a></div></div>
							<div class='kekus zeZ'><div><a>П4</a></div><div><a href="/u/{{troikopoisk.P4.[1]}}">{{troikopoisk.P4.[1]}}</a></div></div>
						{{/if}}
					{{/if}}
				</div>
			</div>
			{{else}}
				<h1 style="text-align: center">Epic Fail Is Epic</h1>
				<img src="https://i.imgur.com/33FJekg.png" style="width: 100%">
			{{/if}}
		{{/if}}
	{{/if}}

</div>
