<div class='kekbakaz'>

	<div>
		<h2>Отзывы</h2>
		<div>
			<span style='color: #27ae60'>{{model.fbG}}</span> / <span style='color: gray'>{{model.fbN}}</span> / <span style='color: lightcoral'>{{model.fbB}}</span>
		</div>
		<div>
			<div>
				<button {{action 'addOtziv'}}>Оставить отзыв</button>
			</div>
			{{#each pageFB as |feedback|}}
				<div class='{{feedback.COLOR}}'>
					<div><a href='/u/{{feedback.pNAME}}'>{{feedback.pNAME}}</a></div>
					<div>{{feedback.DATE}}</div>
					<div>{{feedback.FEEDBACK}}</div>
					{{#if feedback.eDit}}
						<button {{action 'editOtziv'}}>Изменить отзыв</button>
					{{/if}}
				</div>
				{{#if @last}}
					{{#if cum2m}}
						<button {{action 'showMORZ'}}>ещё</button>
					{{/if}}
				{{/if}}
			{{/each}}
			{{#if showfbARC}}
				<div class='zeN'>
					<div>Архив</div>
					<div>{{model.fbARC}} отзывов</div>
					<div>Старых и Неактуальных</div>
				</div>
			{{/if}}
		</div>
	</div>
	
	<div>
		<h2>Аккаунты</h2>
		<div></div>
		<div>
			{{#each model.ugameZ as |gamez|}}
				<div>П{{gamez.poZ}}</div>
				<div>{{gamez.gNAME}}</div>
				{{#if gamez.aCC}}
					<div>{{gamez.aCC}}</div>
				{{/if}}
			{{/each}}
		</div>
	</div>

</div>
