<div class='shinbakaz'>
	<div class='atzav'>
		{{#if model.fbB}}
			<img src='https://i.imgur.com/ZcxqN8c.png'>
		{{else}}
			{{#if model.fbG}}
				<img src='https://i.imgur.com/rmydNkF.png'>
			{{else}}
				<img src='https://i.imgur.com/OMygNKW.png'>
			{{/if}}
		{{/if}}
		<br>
		<span style='color: #27ae60'>{{model.fbG}}</span> / <span style='color: gray'>{{model.fbN}}</span> / <span style='color: lightcoral'>{{model.fbB}}</span>
		{{#if model.MENOSHO}}
			<br>
			<button {{action 'addOtziv'}}>Оставить отзыв</button>
		{{/if}}
	</div>

	<hr>

	<table class='nuahuenno'>
		{{#each model.FEEDBACKS as |feedback|}}
			<tr>
				<td><div class='malabela2 {{feedback.COLOR}}'>{{feedback.SCORE}}</div></td>
				<td>{{feedback.FEEDBACK}}</td>
				<td><a href='/u/{{feedback.pNAME}}'>{{feedback.pNAME}}</a></td>
				<td>{{feedback.DATE}}</td>
			</tr>
		{{/each}}
	</table>

	<ul class="pagination">
		{{#each pages as |page|}}
			<li><button {{action 'PageChange' page}}>{{page}}</button></li>
		{{/each}}
	</ul>
	{{#if bagamdal}}
		<div class="etomudal">

			{{#if mdalready}}

				<button class="netmudal" {{action 'netmudal'}}></button>

				{{#if otzivmdal}}
					<div class="mudalcontent mudaladdon headin3">
						<form {{action "OtzivZaips" on="submit"}}>
							<input type="checkbox" disabled="disabled" checked={{checked1}}/> <button class='atzivBI' {{action 'selectOtz' 1}}>Позитивно</button>
							<input type="checkbox" disabled="disabled" checked={{checked2}}/> <button class='atzivBI' {{action 'selectOtz' 2}}>Нейтрально</button>
							<input type="checkbox" disabled="disabled" checked={{checked3}}/> <button class='atzivBI' {{action 'selectOtz' 3}}>Отрицательно</button>
							{{#if otzivsmall}}<br>отзыв слишком короткий!{{/if}}
							{{#if otzivsbig}}<br>отзыв слишком длинный!{{/if}}
							<br><br><button type="submit">Добавить отзыв</button><br><br>
							{{input minlength="20" maxlength="200" class="otzivtext" type="text" value=pisanina}}
						</form>
					</div>
				{{/if}}

				{{#if otziv.winrars}}
					<div class="mudalcontent mudaladdon headin3">
						Отзыв Успешно записан!
					</div>
				{{/if}}
				
				{{#if otziv.gavas}}
					<div class="mudalcontent mudaladdon headin3">
						Вы уже оставляли отзыв, попробуйте позже
					</div>
				{{/if}}

				{{#if otziv.fail}}
					<div class="mudalcontent headin3 prezaips">
						<div class="bagato">
							<div class="bagapi" style="background-image:url('https://i.imgur.com/33FJekg.png')">Epic Fail Is Epic</div>
						</div>
					</div>
				{{/if}}

			{{else}}

				<div class="bagaspin"></div>

			{{/if}}

		</div>
	{{/if}}
</div>

