<div class='kekbakaz'>

	{{#if otzivmdal}}
		<form {{action "OtzivZaips" on="submit"}}>
			<div>
				<button class='{{if checked1 "bi4"}}' {{action 'selectOtz' 1}}>:)</button>
				<button class='{{if checked2 "bi4"}}' {{action 'selectOtz' 2}}>:|</button>
				<button class='{{if checked3 "bi4"}}' {{action 'selectOtz' 3}}>:(</button>
			</div>
			<div><button type="submit">{{if tempadd "Добавить" "Изменить"}} Отзыв</button></div>
			<div class='{{if checked1 "bi4G"}}{{if checked2 "bi4N"}}{{if checked3 "bi4B"}}'>
				{{input minlength="20" maxlength="200" type="text" value=pisanina}}
			</div>
		</form>
		{{#if otzivsmall}}
			<div>
				Отзыв Слишком Короткий!
				<button {{action 'smtexCLOZ'}}>X</button>
			</div>
		{{/if}}
		{{#if otzivsbig}}
			<div>
				Отзыв Слишком Длинный!
				<button {{action 'smtexCLOZ'}}>X</button>
			</div>
		{{/if}}
	{{/if}}

	{{#if responz.winrars}}
		<div>
			Отзыв Успешно Записан!
			<button {{action 'respCLOZ'}}>X</button>
		</div>
	{{/if}}

	{{#if responz.gavas}}
		<div>
			Вы Уже Оставляли Отзыв, Попробуйте Позже
			<button {{action 'respCLOZ'}}>X</button>
		</div>
	{{/if}}

	{{#if responz.bakas}}
		<div>
			Вы не можете оставлять отзывы имея отрицательный отзыв<br>
			Обратитетсь к <a href='/u/MrBug'>Организатору</a> чтобы исправить отзыв
			<button {{action 'respCLOZ'}}>X</button>
		</div>
	{{/if}}

	{{#if responz.fail}}
		<div style="background-image:url('https://i.imgur.com/33FJekg.png')">
			Epic Fail Is Epic
		</div>
	{{/if}}

	<div>
		<h2>Отзывы</h2>
		<div>
			<span style='color: #27ae60'>{{model.fbG}}</span> / <span style='color: gray'>{{model.fbN}}</span> / <span style='color: lightcoral'>{{model.fbB}}</span>
		</div>
		<div>
			{{#if model.MENOSHO}}
				<div>
					<button {{action 'addOtziv'}}>Оставить отзыв</button>
				</div>
			{{/if}}
			{{#each pageFB as |feedback|}}
				<div class='{{feedback.COLOR}}'>
					<div><a href='/u/{{feedback.pNAME}}'>{{feedback.pNAME}}</a></div>
					<div>{{feedback.DATE}}</div>
					<div>{{feedback.FEEDBACK}}</div>
					{{#if feedback.eDit}}
						<button {{action 'editOtziv' feedback.FEEDBACK}}>Изменить отзыв</button>
					{{/if}}
				</div>
			{{/each}}
			{{#if cum2m}}
				<button {{action 'showMORZ'}}>ещё</button>
			{{/if}}
			{{#if showfbARC}}
				<div class='zeN'>
					<div>Отзывов в Архиве</div>
					<div>{{model.fbARC}}</div>
					<div>Старых и Неактуальных</div>
				</div>
			{{/if}}
		</div>
	</div>

	{{#if currentUser}}
	<div>
		<h2>Аккаунты</h2>
		<div></div>
		<div>
			{{#each model.ugameZ as |gamez|}}
				<div>П{{gamez.poZ}}</div>
				<div>{{gamez.gNAME}}</div>
				{{#if gamez.aCC}}
					<div>{{gamez.aCC}}</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
	{{/if}}

</div>
